<section>
	<div class="global main" [class.ready]="isEndChoice"
		[style.min-height]="screenHeight + 'px'"
		[style.width]="screenWidth + 'px'"
	>
		<div class="container h-100">
			<div class="row w-100 recap-row pl-4">
				<div class="col-md-4 col-sm-12 recap-1">
					<div class="row h-100 align-items-end justify-content-center">
						<div class="img-wrapper position-relative">
							<img alt="paris tour eiffel" class="w-100" [src]="'assets/img/Paris_Reservation_Particuliers.png'" />
							<h4 class="text-center w-100 pt-5">Paris</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 recap-2">
					<div class="row h-100 align-items-end justify-content-center">
						<div class="img-wrapper position-relative" (click)="resetChoice1()">
							<img [alt]="isDecouverte ? '' : isImmersion ? '' : isAccesPiste ? '' : isLesson ? '' : isEvent ?  '' : ''" class="w-100" 
							[src]="
								isImmersion ? 'assets/img/Immersion_Reservation_Particuliers.png' : 
								isDecouverte ? 'assets/img/Decouverte_Reservation_Particuliers.png' : 
								isAccesPiste ? 'assets/img/Acces_Piste_Reservation_Particuliers.png' : 
								isLesson ? 'assets/img/Cours_Particuliers_Reservation_Particuliers.png' : 
								isEvent ? 'assets/img/Evenement_Reservation_Particuliers.png' : 
								''
							" />
							<h4 class="text-center w-100 pt-5">{{ isDecouverte ? 'Découverte' : isImmersion ? 'Immersion' : isAccesPiste ? 'Accès piste' : isLesson ? 'Cours particuliers' : isEvent ? 'Événement' : ''}}</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="row calendar-row mt-4" [class.hide]="isLesson || isEvent">

				<div class="col-md-7 col-sm-12">
					<div class="calendar-title">
						<h4>Date</h4>
					</div>
					<igx-calendar #calendar
				    	[locale]="'fr'"
				    	[formatOptions]="formatOptions"
				    	[formatViews]="formatViews"
				    	(onSelection)="onCalendarClick($event)"
					></igx-calendar>
				</div>

				<div class="col-md-5 col-sm-12 time-col pr-0">
					<div [style.overflow-x]="'hidden'">
						<div class="schedule-title">
							<h4>Horaires</h4>
						</div>
						<div class="schedule-container">
							<table *ngIf="schedule" mat-table [dataSource]="schedule">
								<ng-container matColumnDef="range">
									<th mat-header-cell *matHeaderCellDef class="text-center">Créneau</th>
									<td mat-cell *matCellDef="let element" class="text-center"> {{ element.timeRange }} </td>
								</ng-container>
								<ng-container matColumnDef="participants">
									<th mat-header-cell *matHeaderCellDef class="text-center">Participant(s)</th>
									<td mat-cell *matCellDef="let element" class="text-center"> 
										<mat-form-field [style.width]="'3rem'">
										  <mat-select [(value)]="element.nbParticipants" (selectionChange)="toggleShopBag(element)">
										    <mat-option *ngFor="let number of element.participantsArray" [value]="number" [disabled]="element.isInShoppingBag">{{ number }}</mat-option>
										  </mat-select>
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="price">
									<th mat-header-cell *matHeaderCellDef class="text-center">Prix (unitaire)</th>
									<td mat-cell *matCellDef="let element" class="text-center"> {{ element.price }} € </td>
								</ng-container>
								<ng-container matColumnDef="addShopping">
									<th mat-header-cell *matHeaderCellDef class="text-center"></th>
									<td mat-cell *matCellDef="let element; let i = index" class="text-center">
										<button mat-icon-button color="primary" (click)="toggleShopBag(element)" [disabled]="element.nbParticipants == 0">
									    	<mat-icon aria-label="icon-button with a shopping-cart icon">{{element.isInShoppingBag ? 'remove_shopping_cart' : 'add_shopping_cart'}}</mat-icon>
									  	</button>
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							</table>
						</div>
					</div>

				</div>

			</div>

			<div *ngIf="!isLesson && !isEvent" class="buttons-wrapper mx-0 pt-2 row align-items-center justify-content-end">
				<button [style.min-width]="'145px'" [style.height]="'3rem'" mat-button class="mat-btn-no-border-dark mat-btn-sm mr-1" (click)="openModal(shoppingBag)">Voir mon panier</button>
				<button [style.min-width]="'145px'" [style.height]="'3rem'" mat-button class="mat-btn-no-border-dark mat-btn-sm" (click)="checkBag()" >Procéder au paiement</button>
			</div>
			<div *ngIf="isLesson" class="row h-75 calendar-row lesson">
				<div class="col-6 text-justify">
					<p><strong>Prix de la séance: 50€/h/personne.</strong></p>
					<p>Devenez le pilote amateur que vous souhaitez être avec un drone de prise de vue.</p>
					<p>Ces drones que vous trouvez dans les grands magasins qui sont assistés par un ordinateur de bord qui vous aide à piloter pour que vos prises de vue soient magnifiques.</p>
					<p>Les encadrants Droneez vont vous former à prendre en main ce type de drone et prendre la confiance nécessaire avec l'acquisition de bons réflexes.</p>
					<p>Pour les amateurs, nous préconisons environ deux heures de formation le temps d'acquérir les bons réflexes jusqu'à des mouvements complexes tout en vous enseignant la législation sur le vol de drones pour les amateurs, les zones de vols & les règles au niveau de votre matériel.</p>
					<p>Les cours sont réalisés sur le matériel Droneez du Spark au Phantom 4 de DJI & le cours se finit sur une prise en main de votre matériel si vous l'avez.</p>
					<br/>
				</div>
				<div class="col-6">
					<div class="row justify-content-center align-items-center contact-form-wrapper">
						<app-contact-form [type]="'reservation-cours-particulier'"></app-contact-form>
					</div>
				</div>
			</div>
			<div *ngIf="isEvent" class="row h-75 calendar-row lesson">
				<div class="col-md-6 col-sm-12 text-justify">
					<p>Une occasion à fêter, un anniversaire pour votre enfant ou juste la location d'un lieu atypique comme Droneez ?<br/>Tout est possible !</p>
					<p>De nombreux anniversaires sont organisés chez nous, pour cela une formule spéciale est proposée !<br/>
					Pour les sessions anniversaires nous proposons : 1h30 d'animation avec 1h d'initiation, 20 minutes de challenge & 10 minutes de démonstration en vol immersion.<br/>
					De nombreuses surprises vous attendent, une table est réservée pour installer le gâteau & les cadeaux. Le tarif est de 30€ par pilote apprenti et nous pouvons ajouter un open boisson Soft & open Bonbons pour 5€ de plus par enfant, comme ça vous emmenez juste le gâteau et on se charge de tout le reste. Attention au delà de 10 personnes nous devrons séparer le groupe en deux sessions du fait des interférences lorsqu'un trop grand nombre de drones volent !</p>
					<p>Les privatisations de notre salle sont possibles le soir, attention l'heure maximum d'activité chez Droneez est bornée à 2h00 du matin et nous sommes un bar en Licence 3 donc uniquement des alcools en dessous de 15°, bières, vins, champagne... On reste sur des alcools gentils ! En fonction de vos besoin les tarifs vont de 700€ HT à 1500€ HT plus les consommables ou les droits de bouche & de bouchons si vous emmener des boissons ou de la nourriture.</p>
					<p>Une autre idée ? Shooting ? Paintball ? N'hésitez pas à nous écrire pour plus d'informations !</p>
					<p>Toute l'équipe Droneez.</p>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center align-items-center contact-form-wrapper">
						<ng-scrollbar>
							<app-contact-form [type]="'reservation-evenement-particulier'"></app-contact-form>
						</ng-scrollbar>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="global select position-absolute"
		[style.height]="screenHeight + 'px'"
		[style.width]="screenWidth + 'px'"
		[class.end]="isEndChoice"
	>	
		<div class="container h-100">
			<div class="row choice-1 h-100">
				<div class="col-sm-2 offset-sm-1">
					<div class="row mx-1 h-100 align-items-center justify-content-center">
						<button class="decouverte-button" mat-button (click)="isDecouverte = true; isNotImmersion = true; isNotAccesPiste = true; isNotLesson = true; isNotEvent = true; isEndChoice = true; type = 'decouverte'; getAvailablePlaces(date)"
							[class.selected]="isDecouverte"
							[class.not-selected]="isNotDecouverte"
							row align-items-center justify-content-center>
							<img alt="" class="w-100" [src]="'assets/img/Decouverte_Reservation_Particuliers.png'" />
							<div class="wording-container position-absolute w-100">
								<h4 class="text-center w-100 m-0">Découverte</h4>
								<p class="price mb-1">25€/H</p>
		                        <div class="wording">
		                            <p class="px-2">Pilotage à vue<br/>
		                            débutant - 1h</p>
		                        </div>
		                    </div>
						</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row mx-1 h-100 align-items-center justify-content-center">
						<button class="immersion-button" mat-button (click)="isImmersion = true; isNotDecouverte = true; isNotAccesPiste = true; isNotLesson = true; isNotEvent = true; isEndChoice = true; type = 'immersion'; getAvailablePlaces(date)"
							[class.selected]="isImmersion"
							[class.not-selected]="isNotImmersion">
							<img alt="" class="w-100" [src]="'assets/img/Immersion_Reservation_Particuliers.png'" />
							<div class="wording-container position-absolute w-100">
								<h4 class="text-center w-100 m-0">Immersion</h4>
								<p class="price mb-1">35€/H</p>
		                        <div class="wording">
		                            <p class="px-2">Pilotage retour caméra<br/>
		                            confirmé - 1h<br/>
		                            <i>après maîtrise du <br/> vol à vue</i></p>
		                        </div>
		                    </div>
						</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row mx-1 h-100 align-items-center justify-content-center">
						<button class="acces-piste-button" mat-button (click)="isAccesPiste = true; isNotImmersion = true; isNotDecouverte = true; isNotLesson = true; isNotEvent = true; isEndChoice = true; type = 'acces-piste'; getAvailablePlaces(date)"
							[class.selected]="isAccesPiste"
							[class.not-selected]="isNotAccesPiste">
							<img alt="" class="w-100" [src]="'assets/img/Acces_Piste_Reservation_Particuliers.png'" />
							<div class="wording-container position-absolute w-100">
								<h4 class="text-center w-100 m-0">Accès piste</h4>
								<p class="price mb-1">10€</p>
		                        <div class="wording">
		                            <p class="px-2">
		                                demi-journée<br/>
		                                10h-14h ou 14h-20h<br/>
		                                <i>avec votre matériel</i>
		                            </p>
		                        </div>
		                    </div>
						</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row mx-1 h-100 align-items-center justify-content-center">
						<button class="lesson-button" mat-button (click)="isNotAccesPiste = true; isNotImmersion = true; isNotDecouverte = true; isLesson = true; isNotEvent = true; isEndChoice = true"
							[class.selected]="isLesson"
							[class.not-selected]="isNotLesson">
							<img alt="" class="w-100" [src]="'assets/img/Cours_Particuliers_Reservation_Particuliers.png'" />
							<div class="wording-container position-absolute w-100">
								<h4 class="text-center w-100 m-0">Cours<br/>particuliers</h4>
								<p class="price mb-1"></p>
								<div class="wording">
		                            <p class="px-2">
		                                drone de captation<br/>
		                                cours personnalisés<br/>
		                                <i>avec nos drones & le vôtre<br/> selon votre choix</i>
		                            </p>
	                        	</div>
		                    </div>
						</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row mx-1 h-100 align-items-center justify-content-center">
						<button class="event-button" mat-button (click)="isNotAccesPiste = true; isNotImmersion = true; isNotDecouverte = true; isEvent = true; isNotLesson = true; isEndChoice = true"
							[class.selected]="isEvent"
							[class.not-selected]="isNotEvent">
							<img alt="" class="w-100" [src]="'assets/img/Evenement_Reservation_Particuliers.png'" />
							<div class="wording-container position-absolute w-100">
								<h4 class="text-center w-100 m-0">Événement</h4>
								
		                    </div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<ng-template #shoppingBag>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Mon panier</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-shopping-bag (closeModalRequest)="closeModal($event)"></app-shopping-bag>
    </div>
</ng-template>


