@import "~src/variables.scss";

section {
	.global {

		perspective: 3000px;
		perspective-origin: center;

		overflow: hidden;

		img {
			max-width: 15rem;
		}

		@media screen and (max-width: 768px) {
		  	img {
		  		max-width: 10rem;
		  	} 
		  	
		}
		@media screen and (max-width: 575px) {
			min-height : 70rem;
		}

		.recap-row h4, .choice-1 h4 {
			color: map-get($colors, light);
			font-family: BebasNeueBold;
		}

		.recap-row h4{
			position:absolute;
			top: 0;
		}
	
		&.main {
			filter: blur(4px);
			opacity: .5;
			transition: ease-in-out filter 1s, ease-in-out opacity 1s;

			.recap-row {
				height: 11rem;

				@media screen and (max-width: 768px) {
					padding-top: 5rem;
    				height: 16rem;
				}

				h4 {
					transform: skewX(-29deg);
   					margin-top: -1rem;
				}
				.img-wrapper {
					transform: skewX(29deg);
				    overflow: hidden;
				    height: 6rem !important;
				    cursor: pointer;
				}
				.recap-1 {
					transform: translateX(1000%);
					transition: ease-out .2s transform;
					img {
						transform: skewX(-29deg);
					    margin-top: -21rem;
					    margin-left: 0rem;
					    max-width: 28rem;
					    width: 28rem !important;
					    @media screen and (max-width: 768px) {
						    margin-left: -3rem;
						    max-width: 36rem;
						    width: 36rem !important;
						}
					}
				}
				.recap-2 {
					transform: translateX(2000%);
					transition: ease-out .3s transform;
					img {
						transform: skewX(-29deg);
					    margin-top: -30rem;
					    margin-left: 2rem;
					    max-width: 31rem;
					    width: 31rem !important;
					    @media screen and (max-width: 768px) {
						    margin-left: 2rem;
						    max-width: 36rem;
						    width: 36rem !important;
						}
					}
				}
				.recap-3 {
					transform: translateX(3000%);
					transition: ease-out .4s transform;
					img {
						transform: skewX(-29deg);
					    margin-top: -11rem;
					    margin-left: -7rem;
					    max-width: 31rem;
					    width: 31rem !important;
					}
					@media screen and (max-width: 768px) {
					    .img-wrapper {
					        width: 40rem;
					    }
					    img {
					    	transform:translateX(23%);
					    }
					}
				}
			}

			@media screen and (max-width: 768px) {
				overflow: scroll;
			}

			.calendar-row {
				transform: translateY(2000%);
    			transition: ease-out .6s transform;
    			margin-left: 1.3rem;
    			/*height: 87%;*/
    			&.hide {
    				height : 0 !important;
    				width : 0 !important;
    				overflow : hidden !important;
    			}
    			.calendar-title, .schedule-title {
    				background: #494b40;
    				width: 100%;
				    margin-top: 1rem;
				    border-top-left-radius: 0.4rem;
				    border-top-right-radius: 0.4rem;
				    h4 {
					    color: white;
					    font-family: BebasNeueRegular;
					    text-align: center;
					    width: 100%;
					    margin: 0;
	    			}
	    		}
	    		.schedule-container {
	    			height: 22rem;
    				overflow-y: scroll;
    			}
    			@media screen and (max-width: 768px) {
					margin: 0;
					padding-top:6rem;
				}
    			
			}

			.buttons-wrapper button {
				opacity: 0;
				transform: scale3d(0,0,1);
				transition: ease opacity .8s, cubic-bezier(.22,-0.57,.53,.99) transform .8s, box-shadow .7s;
			}

			.calendar-row.lesson {
				p {
					line-height: 1.2rem;
				}
				.contact-form-wrapper {
					height: 60% !important;
					padding: 1rem 0 3rem 0;
				}
			}

			.time-col {
				transform: translateX(2000%);
    			transition: ease-out .7s transform;
			}

			&.ready {
				filter: blur(0px);
				opacity: 1;
				.recap-row {
					.recap-1, .recap-2, .recap-3 {
						transform: translateX(0%);
					}
				}
				.calendar-row {
					transform: translateY(0%);
				}
				.time-col {
					transform: translateX(0%);
				}
				.buttons-wrapper button {
					opacity: 1;
					transform: scale3d(1,1,1);
				}
			}
			
		}

		&.select {
			top: 0;
			transition: top cubic-bezier(1,0,1,0) 1s;
			&.end {
				top: -100%;
			}
			.container-fluid {
				position: relative;
				button {
					padding: 0;
					transform: scale3d(1,1,1) rotate3d(0,0,0,0deg);
					opacity: 1;
					
					&.selected {
						transition: ease-in .2s transform, ease-out .2s opacity;
						transform: scale3d(.7,.7,.7);
						opacity: 0;
					}
					&.not-selected {
						transform: rotate3d(0,1,0,180deg);
					    transition: ease transform 1.5s, opacity .43s cubic-bezier(1,0,1,0);
					    opacity: 0;
					}
					.wording-container {
						top: 50%;
    					transform: translate3d(0,-50%,0);
						color: white;
						height: 80%;
						p {
							font-size: x-small;
							line-height: 18px;
						}
					}
				}
				.choice-2 {
					position: absolute;
				    top: 0;
				    opacity: 0;
				    z-index: -1;

				    button {
				    	&.decouverte-button {
				    		transform: translateX(-1000%);
				    	}
				    	&.immersion-button {
				    		transform: translateY(-1000%);
				    	}
				    	&.acces-piste-button {
				    		transform: translateY(1000%);
				    	}
				    }
				}
				.choice-2.ready {
					z-index: 0;
					opacity: 1;
					button {
						transition: ease-out 1s transform;
						&.decouverte-button {
							transform: translateX(0%) scale3d(1,1,1) rotate3d(0,0,0,0deg);
						}
						&.immersion-button,
				    	&.acces-piste-button {
				    		transform: translateY(0%) scale3d(1,1,1) rotate3d(0,0,0,0deg);
				    	}
				    	&.selected {
							transition: ease-in .2s transform, ease-out .2s opacity;
							transform: scale3d(.7,.7,.7);
						}
						&.not-selected {
							transform: rotate3d(0,1,0,180deg);
						    transition: ease transform 1.5s, opacity .43s cubic-bezier(1,0,1,0);
						}
					}

				}
			}
		}

		table {
			width: 100%;
			margin: auto;
		}

	}
}


































section {
	z-index: 1;
    position: relative;
	.global {
		.icon {
			width: 100%;
		    height: 6rem;
		    font-size: 8rem;
		    transition: transform .4s ease-out, ease .5s color;//, ease .5s text-shadow;
			transform: translate3d(0,0,0) scale3d(1,1,1);
		}
		.shadow-icon {
			box-shadow: black 0px 0px 0px 0px;
	    	border-radius: 100px;
	   		height: .1rem;
	    	width: .1rem;
	    	margin-left: 50%;
	    	transform: rotate3d(1,0,0,77deg) translateX(-50%);
	    	transition: ease-out .4s box-shadow;
		}
		.category {
			transition: color 0.25s;
		}
		.decouverte {
			&:hover, &:focus {
				.mat-btn-outline-dark {
				    box-shadow: inset 15rem 0 3rem 0 map-get($colors, primary);
				}
				.category {
					color: map-get($colors, primary);	
				}
				.icon {
					color:  map-get($colors, primary);
		    		//text-shadow: 0 0 10px map-get($colors, primary);
		    	}
			}
		}
		.immersion {
			&:hover, &:focus {
				.mat-btn-outline-dark {
				    box-shadow: inset 15rem 0 3rem 0 map-get($colors, secondary);
				}
				.category {
					color: map-get($colors, secondary);	
				}
				.icon {
					color:  map-get($colors, secondary);
		    		//text-shadow: 0 0 10px map-get($colors, secondary);
		    	}
			}
		}
		.acces-piste {
			&:hover, &:focus {
				.mat-btn-outline-dark {
				    box-shadow: inset 15rem 0 3rem 0 map-get($colors, danger);
				}
				.category {
					color: map-get($colors, danger);	
				}
				.icon {
					color:  map-get($colors, danger);
		    		//text-shadow: 0 0 10px map-get($colors, danger);
		    	}
			}
		}
		.lesson {
			&:hover, &:focus {
				.mat-btn-outline-dark {
				    box-shadow: inset 15rem 0 3rem 0 map-get($colors, tertiary);
				}
				.category {
					color: map-get($colors, tertiary);	
				}
				.icon {
		    		//text-shadow: 0 0 10px black;
		    		color: map-get($colors, tertiary);
		    	}
			}
		}
		.event {
			&:hover, &:focus {
				.mat-btn-outline-dark {
				    box-shadow: inset 15rem 0 3rem 0 rgba(0,0,0,.5);
				}
				.category {
					color: rgba(0,0,0,.5);	
				}
				.icon {
					color: rgba(0,0,0,.5);
		    		//text-shadow: 0 0 3px rgba(0,0,0,.5);

		    	}
			}
		}
		h1 {
			font-family: BebasNeueBold;
			font-size: 2.8rem;
		}
		h4 {
			font-family: BebasNeueBold;
			margin-bottom: 0;
		}
		.separate-line {
			width: 100%;
	        border-top: 1px solid rgba(0,0,0,.5);
	        position: absolute;
	        margin-left: -15px;
		}
		.presentation-container {
			&:hover, &:focus {
				.icon {
					transform: translate3d(0,-1.5rem,0) scale3d(1.15,1.15,1);
				}
				.shadow-icon {
					box-shadow: black 0px 0px 48px 6px;
			    }
			}
			cursor: pointer;
			.wording-container {
				font-family: raleway-medium;
				min-height: 20rem;
				.title-container {
					//min-height: 8em;
				}
				.price {
					font-family: BebasNeueBold;
					font-size: 2.5rem;
				}
				.price-mini {
					font-family: BebasNeueBold;
					font-size: 1.5rem;
				}
				.wording {
					min-height: 5rem;
				}
				p {
					line-height: 1.3rem;
				    font-family: BebasNeueRegular;
				    font-size: 1rem;
				    i {
				    	font-size: .8rem;
				    }
				}
				.strong-word {
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			&.selected {
				transition: ease-in .2s transform, ease-out .2s opacity;
				transform: scale3d(.7,.7,.7);
				opacity: 0;
			}
			&.not-selected {
				transform: rotate3d(0,1,0,180deg);
			    transition: ease transform 1.5s, opacity .43s cubic-bezier(1,0,1,0);
			    opacity: 0;
			}
			
		}
	}
}

.separate-img-container {
	margin-top:-15rem;
	height: 15rem;
	overflow: hidden;
    z-index: -1;
	.separate-img {
		//margin-top:-15rem;
		//margin-bottom:-10rem;
		background: url('./../../../assets/img/pricing-separate-img.png') no-repeat;
		background-size: cover;
	    background-position-y: center;
		overflow: hidden;
		position: relative;
		height: 30rem;
		.shadow {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: linear-gradient( to bottom, #fff 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 32%, #fff 100% );
		}
	}
}

