section {
	z-index: 1;
    position: relative;
    overflow: hidden;
	.global {
		box-shadow: 0 0 85px 150px white;
		position:relative;
		h1 {
			font-family: BebasNeueBold;
			font-size: 2.8rem;
			margin-top: -2.8rem;
		}
		h4 {
			font-family: BebasNeueBold;
			font-size: 1.5rem;
			margin-bottom: 0;
		}
		.logo-wrapper {
			img {
				height: 8rem;
			}
		}
		.presentation-container {
			.wording-container {
				font-family: raleway-medium;
				//min-height: 20rem;
				.title-container {
					min-height: 8em;
				}
				.price {
					font-family: BebasNeueBold;
					font-size: 2.5rem;
				}
				.price-mini {
					font-family: BebasNeueBold;
					font-size: 1.5rem;
				}
				.wording {
					min-height: 5rem;
				}
				p {
					line-height: 1.3rem;
				    font-family: BebasNeueRegular;
				    font-size: 1rem;
				    i {
				    	font-size: .8rem;
				    }
				}
				.strong-word {
					text-transform: uppercase;
					font-weight: bold;
				}
			}
			
		}
	}
	.img-club-container {
		//background: url('./../../../assets/img/club_droneez.jpg') no-repeat center center;
		//background-size: cover;
	}
}

