<section class="section-subscription">
    <div class="global container pt-5"
	    [style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'">

        <div class="row justify-content-center align-items-center">
            <div class="col">
                <h1 class="text-center mb-0">Club Droneez</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="row justify-content-center align-items-center presentation-container">
                    <div class="logo-wrapper pr-5">
                        <img [src]="'assets/img/logo/ffam.png'" [style.width]="'auto'" [style.height]="'16rem'"/>
                    </div>
                    <div class="text-center pl-5 wording-container">
                        <h4 class="pt-4">Licence officielle</h4>
                        <p>
                            accès piste<br/>
                            horaires spécifiques club<br/>
                            invitation workshop<br/>
                            invitation VIP
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <h4 class="text-center mb-0">Tarifs mensuels</h4>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center presentation-container">
            <div class="col-6 wording-container">
                <h4>enfant (<14 ans)</h4>
                <div class="separate-line"></div>
                <p>
                    forfait loisir: <span class="price-mini">30€</span><br/>
                    forfait compétition avec abonnement FAI: <span class="price-mini">40€</span>
                </p>
            </div>
            <div class="col-6 wording-container">
                <h4>adulte</h4>
                <div class="separate-line"></div>
                <p>
                    forfait loisir: <span class="price-mini">50€</span><br/>
                    forfait compétition avec abonnement FAI: <span class="price-mini">60€</span>
                </p>
            </div>
        </div>
    </div>
</section>
