@import "~src/variables.scss";

footer {

	background-color: map-get($colors, dark) !important;

	h3, p {
		font-family: raleway-medium;
	}

	h2 {
		font-family: BebasNeueBold;
		font-size: 2.5rem;
		text-transform: uppercase;
		padding: 1rem 0;
		margin-bottom: 0;
	}

	h3 {
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	p {
		font-size: 14px;
	}

	.iframe-container {
		height: 20rem;
	}

	.infos {
		color: map-get($colors, light);

		p.presentation {
			padding: 1rem 0 2rem 0;
			font-family: raleway-medium;
		}
	}

	.copyrights {
		span {
			cursor: pointer;
			color: map-get($colors, light);
			text-decoration: underline;
		}
	}
}