<section class="section-service">
    <div class="global container pt-5">
        <div class="row justify-content-center py-5"> 
            <h1>Tarifs</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3>Découverte</h3>
                        <div class="separate-line"></div>
                        <p class="price pt-4 mb-1">25€/H</p>
                        <p class="px-4">Pilotage à vue avec encadrant pendant 1h</p>
                    </div>
                    <div class="booking-button-container row">
                        <div class="col-sm-12">
                            <button mat-button class="mat-btn-outline-dark mat-btn-sm">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3>Cours fpv</h3>
                        <div class="separate-line"></div>
                        <p class="price pt-4 mb-1">35€/H</p>
                        <p class="px-4">Pilotage retour caméra avec encadrant pendant 1h</p>
                    </div>
                    <div class="booking-button-container row">
                        <div class="col-sm-12">
                            <button mat-button class="mat-btn-outline-dark mat-btn-sm">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3>Accès piste</h3>
                        <div class="separate-line"></div>
                        <p class="price pt-4 mb-1">10€</p>
                        <p class="px-4">Pilotage avec votre matériel sur notre espace</p>
                    
                        <div class="schedule">
                            <p>10H-14H</p>
                            <p>14H-20H</p>
                        </div>
                    </div>
                    <div class="booking-button-container row">
                        <div class="col-sm-12">
                            <button mat-button class="mat-btn-outline-dark mat-btn-sm">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3>Cours particuliers</h3>
                        <div class="separate-line"></div>
                        <p class="price pt-4 mb-1">50€</p>
                        <p class="px-4">Apprentissage et/ou perfectionnement drone de prise de vue avec encadrant</p>
                    </div>
                    <div class="booking-button-container row">
                        <div class="col-sm-12">
                            <button mat-button class="mat-btn-outline-dark mat-btn-sm">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="separate-img w-100">
    <div class="shadow"></div>
</div>

<section class="section-subscription">
    <div class="global container">

        <div class="row">
            <div class="col">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3>Abonnement</h3>
                        <h3>enfant (-14 ans)</h3>
                        <div class="separate-line"></div>

                        <div class="row">
                            <div class="col-sm-6 py-5">
                                <p class="price pt-4 mb-1">30€</p>
                                <h4 class="strong-word">Loisir</h4>
                                <p class="mb-0 px-3">Accès piste illimité</p>
                                <p class="mb-0 px-3">Accès au workshop gratuitement</p>
                                <p class="px-3">Invitation aux événements DRONEEZ</p>
                                <div class="schedule">
                                    <p>10H-14H</p>
                                </div>
                            </div>
                            <div class="col-sm-6 py-5">
                                <p class="price pt-4 mb-1">40€</p>
                                <h4 class="strong-word">Compétition</h4>
                                <p class="mb-0 px-3">Accès piste illimité</p>
                                <p class="mb-0 px-3">Accès au workshop gratuitement</p>
                                <p class="mb-0 px-3">Invitation aux événements DRONEEZ</p>
                                <p class="px-3">Abonnement FAI compris</p>
                                <div class="schedule">
                                    <p>10H-14H</p>
                                    <p>14H-20H</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3 [style.opacity]="0">Licence</h3>
                        <h3 [style.opacity]="0">FFAM</h3>
                        <div class="separate-line"></div>
                        <h3>Licence FFAM</h3>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="presentation-container text-center">
                    <div class="wording-container">
                        <h3>Abonnement</h3>
                        <h3>adulte</h3>
                        <div class="separate-line"></div>
                        <div class="row">
                            <div class="col-sm-6 py-5">
                                <p class="price pt-4 mb-1">60€</p>
                                <h4 class="strong-word">Compétition</h4>
                                <p class="mb-0 px-3">Accès piste illimité</p>
                                <p class="mb-0 px-3">Accès au workshop gratuitement</p>
                                <p class="mb-0 px-3">Invitation aux événements DRONEEZ</p>
                                <p class="px-3">Abonnement FAI compris</p>
                                <div class="schedule">
                                    <p>10H-14H</p>
                                    <p>14H-20H</p>
                                </div>
                            </div>
                            <div class="col-sm-6 py-5">
                                <p class="price pt-4 mb-1">50€</p>
                                <h4 class="strong-word">Loisir</h4>
                                <p class="mb-0 px-3">Accès piste illimité</p>
                                <p class="mb-0 px-3">Accès au workshop gratuitement</p>
                                <p class="px-3">Invitation aux événements DRONEEZ</p>
                                <div class="schedule">
                                    <p>10H-14H</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>