<section>
    <div class="global container">
        <div class="row justify-content-center">
            <h1>Tarifs / pers</h1>
        </div>
        <div class="row">
            <table class="table table-hover table-light">
                <tbody>
                    <tr>
                        <th scope="row">Découverte</th>
                        <td>25€/h</td>
                    </tr>
                    <tr>
                        <th scope="row">Cours FPV</th>
                        <td>35€/h</td>
                    </tr>
                    <tr>
                        <th scope="row">Accès piste (10h - 14h // 14h - 18h // 18h - 22h)</th>
                        <td>10€/matin, après-midi, soirée</td>
                    </tr>
                    <tr>
                        <th scope="row">Cours particuliers</th>
                        <td>50€/h</td>
                    </tr>
                    <tr>
                        <th scope="row">Abonnement avec Licence FFAM & FAI (Accès piste illimité)</th>
                        <td>Enfant : Loisir 30€/mois, Compet 40€/mois // Adulte : Loisir 50€/mois, Compet 60€/mois</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>