<nav [class.top-reached]="isReachingTop && !globals.noChangeNavBg" [class.toggle-anim]="toggleAnim" class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <a class="navbar-brand" routerLink="/" (click)="isCollapsed ? toggleCollapse() : ''">
        <img src="assets/img/logo/LogoTransparentWhite.png" width="90" alt="logo droneez">
    </a>
    <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="!isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="!isCollapsed" id="navbarSupportedContent" (click)="isCollapsed ? toggleCollapse() : '' ">
        <ul class="navbar-nav">
            <li class="nav-item active px-4 d-none d-lg-block">
                <a class="nav-link" routerLink="/"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/entreprise">Entreprise</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" routerLink="/tarifs">Tarifs</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/club">Club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/actualites">Actualités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/a-propos">À propos</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" routerLink="/reservation/particuliers">Réservation</a>
            </li>
            <li class="nav-item ml-auto ml-lg-3 social-network">
                <div class="nav-link d-inline-block shopping-bag pr-5" (click)="openModal(shoppingBagElement)">
                    <i class="fa fa-shopping-bag"><div *ngIf="shoppingBag && shoppingBag.length != 0">{{shoppingBag.length}}</div></i>
                </div>
                <!--<a class="nav-link d-inline-block member pr-5" href="#" target="_blank">
                    <i class="material-icons">person</i>
                </a>-->
                <a class="nav-link d-inline-block" href="https://www.facebook.com/droneez/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-link d-inline-block" href="https://www.instagram.com/droneez_paris/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="nav-link d-inline-block" href="https://twitter.com/DRONEEZ_fr" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<ng-template #shoppingBagElement>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Mon panier</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-shopping-bag (closeModalRequest)="closeModal($event)"></app-shopping-bag>
    </div>
</ng-template>


