@import "~src/variables.scss";

section {
	background-color: map-get($colors, light);
	padding-top :5rem;

	.title {
		padding: 2rem 0;
		color: map-get($colors, dark);
		font-family: BebasNeueBold;
		text-transform: uppercase;
		text-align: center;
	}

	.card-container {
		display: inline-block;
		transition: ease-out .3s all;
		transform: translateY(150px);
		opacity:0;
		padding-bottom: 2rem;
		font-family: BebasNeueRegular;
		color: map-get($colors, light);
		max-width: 20rem;
		.card {
			cursor: pointer;
			width: 18rem;
			margin: auto;

			.card-img-container {
				height: 25rem;
    			overflow: hidden;
    			.backdrop {
    				width: 100%;
				    height: 100%;
				    top: 0;
				    position: absolute;
				    background: black;
				    opacity: .5;
				    transition: ease 3s opacity;
    			}
				img {
					height: 100%;
    				width: auto !important;
    				max-width: 1000%;
    				transform: translateX(-50%);
				    margin-left: 50%;
				    transform: translateX(-50%) scale3d(1,1,1);
				    transition: ease-out 3s transform;
				    
				}
			}
			.card-title {
				height: 8rem;
				overflow: hidden;
				font-size:2.5rem;
				line-height:2rem;
				margin-top: 7rem;
				transition: ease .5s margin-top;
			}
			.card-body {
				position:absolute;
				button {
					bottom: 1.5rem;
    				position: absolute;
    				opacity: 0;
    				transition: opacity .5s ease;
				}
				transition: background ease 3s;
			}

			&:hover {
				.card-img-container {
					img {
		    			transform: translateX(-50%) scale3d(1.2,1.2,1);
		    		}
		    		.backdrop {
		    			opacity: 0;
		    		}
		    	}
		    	/*.card-title {
		    		margin-top:0;
		    	}*/
		    	.card-body {
		    		background: rgba(255,255,255,0) !important;
		    		button {
		    			opacity:1;
		    		}
		    	}
		    }
		}
	}

	.show-card {
		transform: translateY(0) !important;
		opacity:1 !important;
	}
}