@import "~src/variables.scss";

form {
	overflow-x: hidden;
	p {
		color: #C5C5C5;
		font-family: raleway-regular;
		font-size: .7rem;
	}
	input, textarea, button {
		border: 1px solid #707070;
		border-radius: 5rem;
		font-family: raleway-regular;
		&::placeholder {
			color: map-get($colors, smooth-dark);
			font-family: raleway-regular;
			font-size: .7rem;
			text-transform: uppercase;
		}
	}
	input {
		height: 1.9rem;
		padding: 0 .5rem .2rem .5rem;
		transform: translateY(6px) perspective(100px);
	}
	::ng-deep textarea {
		border-radius: 1.5rem !important;
		padding: 7px 9px 0 9px;
	}
	::ng-deep textarea+.mat-form-field-label-wrapper label.mat-form-field-label {
		padding-top: 0.7rem !important;
		padding-left: .7rem;
	}
	button {
		color: map-get($colors, dark);
		background: map-get($colors, light);
    	&:focus {
    		outline: none;
    	}
	}
	.mat-select {
		border: 1px solid #707070;
	    border-radius: 5rem;
	    font-family: raleway-regular;
	    height: 1.9rem;
	    line-height: 1.7rem;
	    padding: 0 .5rem;
	    transform: translateY(4px);
	}
	::ng-deep .mat-form-field-label-wrapper {
		.mat-form-field-label {
			padding-left:.5rem;
			padding-top:.5rem;
		}
	}
	::ng-deep .mat-form-field-underline {
		display: none;
	}
	::ng-deep .mat-form-field-subscript-wrapper {
		padding-left: .5rem;
    	margin-top: -.2rem;
	}

	::ng-deep label.mat-form-field-label {
		text-transform: uppercase;
		font-size:.7rem;
		font-family: raleway-regular;
		color: map-get($colors, smooth-dark);
	}

	::ng-deep .mat-form-field label.mat-form-field-label {
		padding-top: 1.2rem !important;
	}

	::ng-deep .date-wrapper input {
		border: none;
	}

	::ng-deep .date-wrapper .mat-form-field-flex {
		border: 1px solid #707070;
	    border-radius: 1rem;
	    font-family: raleway-regular;
	    height: 1.9rem !important;
	    position: absolute;
	    top: 23px;
	}

	::ng-deep .date-wrapper .mat-form-field-infix {
		margin-top: -1.55rem;
	}

	::ng-deep .date-wrapper .mat-form-field-suffix {
		top: -2px;
    	right: 7px;
	}
	
	.mat-form-field {
		height: 4.1rem;
    	margin-top: -.8rem;
    	overflow: hidden;
    	width: 100%;
    	padding: 0 6px;
    }

    .submit-button button {
    	font-weight: 700;
    	text-transform: uppercase;;
    }

    .checkbox-container {
    	padding:.7rem 6px;
	    .checkbox-decoration {
	    	border: 1px solid #707070;
	    	border-radius: 1rem;
	    	min-height: 1.9rem;

	    	.row {
	    		margin: 0;
	    	}

	    	::ng-deep .mat-checkbox-layout {
	    		margin: 0;
	    	}
	    }
	}

	.button-container {
		padding: 20px 6px 0 6px;
	}
}