<ng-scrollbar>
	<form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
		<div class="row justify-content-center align-items-center w-100 m-0">
			<div class="col-md-6 col-sm-12">
				<div class="row justify-content-center">
					<mat-form-field>
						<mat-label>Nom</mat-label>
						<input matInput formControlName="lastNameControl" placeholder="Nom" required>
						<mat-error *ngIf="formGroup.controls.lastNameControl.hasError('required')">Veuillez remplir ce champ</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="row justify-content-center">
					<mat-form-field>
						<mat-label>Prénom</mat-label>
						<input matInput formControlName="firstNameControl" placeholder="Prénom" required>
						<mat-error *ngIf="formGroup.controls.firstNameControl.hasError('required')">Veuillez remplir ce champ</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="row justify-content-center align-items-center w-100 m-0">
			<div class="col-md-6 col-sm-12">
				<div class="row justify-content-center">
					<mat-form-field>
						<mat-label>Téléphone</mat-label>
						<input pattern="[0-9\+\- ]*" matInput formControlName="phoneControl" placeholder="Téléphone" required>
						<mat-error *ngIf="formGroup.controls.emailControl.invalid">{{getErrorPhoneMessage()}}</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="row justify-content-center">
					<mat-form-field>
						<mat-label>Mail</mat-label>
						<input matInput formControlName="emailControl" placeholder="Mail" required>
						<mat-error *ngIf="formGroup.controls.emailControl.invalid">{{getErrorMailMessage()}}</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div *ngIf="type === 'contact' || type === 'reservation-cours-particulier' || type === 'reservation-cowork-forfait-1' || type === 'reservation-cowork-forfait-2' || type === 'reservation-cowork-forfait-3'">
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-12">
					<div class="row justify-content-between">
			  			<mat-form-field>
							<mat-label>Société</mat-label>
							<input matInput formControlName="companyControl" placeholder="Société">
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="type === 'reservation-formation'">
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Société</mat-label>
							<input matInput formControlName="companyControl" placeholder="Société">
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Statut</mat-label>
			  				<mat-select [(value)]="statutSelected" formControlName="statutControl">
				    			<mat-option *ngFor="let statut of statutsTelepilote" value="{{statut}}">
				      				{{statut}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Domaine</mat-label>
							<input matInput formControlName="domainControl" placeholder="Photographie, analyse...">
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>OPCA</mat-label>
							<input matInput formControlName="opcaControl" placeholder="Afdas, etc.">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Mois de formation</mat-label>
				  				<mat-select [(value)]="monthSelected" formControlName="monthControl">
					    			<mat-option *ngFor="let month of months" value="{{month}}">
					      				{{month}}
					    			</mat-option>
								</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Nbr de participants</mat-label>
				  				<mat-select [(value)]="participantSelected" formControlName="participantControl">
					    			<mat-option *ngFor="let participant of participantsTelepilote" value="{{participant}}">
					      				{{participant}}
					    			</mat-option>
								</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 px-4">
				  	<p class="my-0">PRIX par participant : 2000€ HT</p>
					<p class="mt-2" style="line-height: 1.2rem;">DRONEEZ est un organisme de formation enregistré sous le numéro 11922213692 auprès du préfet région Ile-de-France, la formation peut être financée par les OPCA ainsi que Pôle Emploi</p>
				</div>
			</div>
		</div>

		<div *ngIf="type === 'reservation-teambuilding'">
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Société</mat-label>
							<input matInput formControlName="companyControl" placeholder="Société">
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Statut</mat-label>
			  				<mat-select [(value)]="statutSelected" formControlName="statutControl">
				    			<mat-option *ngFor="let statut of statutsTeambuilding" value="{{statut}}">
				      				{{statut}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-12">
					<div class="row justify-content-center">
						<mat-form-field class="w-100">
			  				<mat-label>Poste</mat-label>
			  				<input matInput formControlName="posteControl" placeholder="Poste">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Nbr de participants</mat-label>
			  				<mat-select [(value)]="participantSelected" formControlName="participantControl">
				    			<mat-option *ngFor="let participant of participants" value="{{participant}}">
				      				{{participant}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Privatisable</mat-label>
			  				<mat-select [(value)]="privatiseSelected" formControlName="privatiseControl" >
				    			<mat-option *ngFor="let item of privatise" value="{{item}}">
				      				{{item}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Boissons</mat-label>
			  				<mat-select [(value)]="boissonSelected" formControlName="boissonControl" >
				    			<mat-option *ngFor="let boisson of boissons" value="{{boisson}}">
				      				{{boisson}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Cocktail</mat-label>
			  				<mat-select [(value)]="cocktailSelected" formControlName="cocktailControl">
				    			<mat-option *ngFor="let cocktail of cocktails" value="{{cocktail}}">
				      				{{cocktail}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Lieu</mat-label>
			  			<div class="row justify-content-between">
							<mat-checkbox *ngFor="let lieu of checkboxLieux" #checkboxLieu class="pl-4" (change)="onChange('lieux', lieu, checkboxLieu.checked)">{{lieu}}</mat-checkbox>
				      	</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Volière</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox *ngFor="let voliere of checkboxVolieres" #checkboxVoliere class="pl-4" (change)="onChange('volieres', voliere, checkboxVoliere.checked)">{{voliere}}</mat-checkbox>
				      	</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Budget</mat-label>
			  				<input matInput formControlName="budgetControl" placeholder="€/pers">
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Options</mat-label>
			  				<input matInput formControlName="optionsControl" placeholder="Projecteur, VR, Ecran etc.">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Type</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4" *ngFor="let type of checkboxTypesTB" #checkboxType (change)="onChange('types', type, checkboxType.checked)">{{type}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Animation</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4" *ngFor="let animation of checkboxAnimationsTB" #checkboxAnimation (change)="onChange('animations', animation, checkboxAnimation.checked)">{{animation}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Horaires</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4"  *ngFor="let horaire of checkboxHoraires" #checkboxHoraire (change)="onChange('horaires', horaire, checkboxHoraire.checked)">{{horaire}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Durée</mat-label>
			  				<mat-select [(value)]="dureeSelected" formControlName="durationControl" >
				    			<mat-option *ngFor="let duree of durees" value="{{duree}}">
				      				{{duree}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field class="date-wrapper">
							<mat-label>Date</mat-label>
						  	<input matInput formControlName="dateControl" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choisissez une date">
						  	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						  	<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="type === 'reservation-evenement-particulier'">
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Société</mat-label>
							<input matInput formControlName="companyControl" placeholder="Société">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Nbr de participants</mat-label>
			  				<mat-select [(value)]="participantSelected" formControlName="participantControl">
				    			<mat-option *ngFor="let participant of participantsEventCustomer" value="{{participant}}">
				      				{{participant}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Privatisable</mat-label>
			  				<mat-select [(value)]="privatiseSelected" formControlName="privatiseControl" >
				    			<mat-option *ngFor="let item of privatise" value="{{item}}">
				      				{{item}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Boissons</mat-label>
			  				<mat-select [(value)]="boissonSelected" formControlName="boissonControl" >
				    			<mat-option *ngFor="let boisson of boissons" value="{{boisson}}">
				      				{{boisson}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Cocktail</mat-label>
			  				<mat-select [(value)]="cocktailSelected" formControlName="cocktailControl">
				    			<mat-option *ngFor="let cocktail of cocktails" value="{{cocktail}}">
				      				{{cocktail}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Lieu</mat-label>
			  			<div class="row justify-content-between">
							<mat-checkbox *ngFor="let lieu of checkboxLieux" #checkboxLieu class="pl-4" (change)="onChange('lieux', lieu, checkboxLieu.checked)">{{lieu}}</mat-checkbox>
				      	</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Volière</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox *ngFor="let voliere of checkboxVolieres" #checkboxVoliere class="pl-4" (change)="onChange('volieres', voliere, checkboxVoliere.checked)">{{voliere}}</mat-checkbox>
				      	</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-12">
					<div class="row justify-content-center">
						<mat-form-field class="w-100">
			  				<mat-label>Options</mat-label>
			  				<input matInput formControlName="optionsControl" placeholder="Projecteur, VR, Ecran etc.">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Type</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4" *ngFor="let type of checkboxTypesEP" #checkboxType (change)="onChange('types', type, checkboxType.checked)">{{type}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Animation</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4" *ngFor="let animation of checkboxAnimations" #checkboxAnimation (change)="onChange('animations', animation, checkboxAnimation.checked)">{{animation}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Horaires</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4"  *ngFor="let horaire of checkboxHoraires" #checkboxHoraire (change)="onChange('horaires', horaire, checkboxHoraire.checked)">{{horaire}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Durée</mat-label>
			  				<mat-select [(value)]="dureeSelected" formControlName="durationControl" >
				    			<mat-option *ngFor="let duree of dureesEventCustomer" value="{{duree}}">
				      				{{duree}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field class="date-wrapper">
							<mat-label>Date</mat-label>
						  	<input matInput formControlName="dateControl" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choisissez une date">
						  	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						  	<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="type === 'reservation-evenement'">
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
							<mat-label>Société</mat-label>
							<input matInput formControlName="companyControl" placeholder="Société">
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Poste</mat-label>
			  				<input matInput formControlName="posteControl" placeholder="Poste">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Nbr de participants</mat-label>
			  				<mat-select [(value)]="participantSelected" formControlName="participantControl">
				    			<mat-option *ngFor="let participant of participants" value="{{participant}}">
				      				{{participant}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Multiples animations</mat-label>
			  				<mat-select [(value)]="multiAnimSelected" formControlName="multiAnimControl" >
				    			<mat-option *ngFor="let item of multiAnim" value="{{item}}">
				      				{{item}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Lieu</mat-label>
			  			<div class="row justify-content-between">
							<mat-checkbox *ngFor="let lieu of checkboxLieux" #checkboxLieu class="pl-4" (change)="onChange('lieux', lieu, checkboxLieu.checked)">{{lieu}}</mat-checkbox>
				      	</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Volière</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox *ngFor="let voliere of checkboxVolieres" #checkboxVoliere class="pl-4" (change)="onChange('volieres', voliere, checkboxVoliere.checked)">{{voliere}}</mat-checkbox>
				      	</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Budget</mat-label>
			  				<input matInput formControlName="budgetControl" placeholder="€/pers">
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Options</mat-label>
			  				<input matInput formControlName="optionsControl" placeholder="Projecteur, VR, Ecran etc.">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Type</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4" *ngFor="let type of checkboxTypesEE" #checkboxType (change)="onChange('types', type, checkboxType.checked)">{{type}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Animation</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4" *ngFor="let animation of checkboxAnimations" #checkboxAnimation (change)="onChange('animations', animation, checkboxAnimation.checked)">{{animation}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center w-100 m-0 checkbox-container">
				<div class="col-12 checkbox-decoration">
					<div class="row justify-content-between">
						<mat-label>Horaires</mat-label>
						<div class="row justify-content-between">
							<mat-checkbox class="pl-4"  *ngFor="let horaire of checkboxHoraires" #checkboxHoraire (change)="onChange('horaires', horaire, checkboxHoraire.checked)">{{horaire}}</mat-checkbox>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center align-items-center w-100 m-0">
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field>
			  				<mat-label>Durée</mat-label>
			  				<mat-select [(value)]="dureeSelected" formControlName="durationControl" >
				    			<mat-option *ngFor="let duree of durees" value="{{duree}}">
				      				{{duree}}
				    			</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row justify-content-center">
						<mat-form-field class="date-wrapper">
							<mat-label>Date</mat-label>
						  	<input matInput formControlName="dateControl" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choisissez une date">
						  	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						  	<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center align-items-center w-100 m-0">
			<div class="col-12">
				<div class="row justify-content-center">
					<mat-form-field class="w-100 h-100">
		  				<mat-label>Message</mat-label>
		  				<textarea matInput formControlName="messageControl" placeholder="Message" [rows]="rows ? rows : 5"></textarea>
					</mat-form-field>
				</div>
			</div>
		</div>













	<!--	<div class="row">
			<div class="col-6 pr-2">
			  	<div class="form-group">
			    	<input 
			     		type="text" 
			     		name="lastname" 
			     		class="form-control" 
			     		placeholder="Nom*" 
			     		[(ngModel)]="lastName"
			     		required
			     		#lastnameInput="ngModel">
			    	<div class="help is-error" *ngIf="lastnameInput.invalid && lastnameInput.dirty">
			    		Un nom est requis.
			   		</div>
			  	</div>
			</div>
			<div class="col-6 pl-2">
			  	<div class="form-group">
			    	<input 
			     		type="text" 
			     		name="firstname" 
			     		class="form-control" 
			     		placeholder="Prénom" 
			     		[(ngModel)]="firstName"
			     		#firstnameInput="ngModel">
			  	</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6 pr-2">
			  	<div class="form-group">          
			   	 	<input 
			      		type="email" 
			      		name="email" 
			      		class="form-control" 
			      		placeholder="Email*" 
			      		[(ngModel)]="email"
			      		required
			      		email
			      		#emailInput="ngModel">
			    	<div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
			      		L'adresse mail doit être valide.
			    	</div>
				</div>
			</div>
			<div class="col-6 pl-2">
				<div class="form-group">
			    	<input 
			     		type="tel" 
			     		name="phone" 
			     		class="form-control" 
			     		placeholder="Téléphone" 
			     		[(ngModel)]="phone"
			     		#phoneInput="ngModel">
			  	</div>
			</div>
		</div>

		<div class="row" *ngIf="!business && !customer">
			<div class="col-12">
				<div class="form-group">
			    	<input 
			     		type="text" 
			     		name="company" 
			     		class="form-control" 
			     		placeholder="Société" 
			     		[(ngModel)]="company"
			     		#companyInput="ngModel">
			  	</div>
			</div>
		</div>

		<div class="row" *ngIf="certification || business">
			<div class="col-6 pr-2" *ngIf="certification" [style.overflow-y]="'hidden'" [style.max-height]="'4.2rem'" [style.margin-top]="'-1.2rem'">
				<div class="form-group">
				<mat-form-field class="w-100">
	  				<mat-label>Mois de formation</mat-label>
	  				<mat-select [formControl]="monthControl" [(value)]="certifDuration" required>
		    			<mat-option *ngFor="let month of months" [value]="month.value">
		      				{{month.viewValue}}
		    			</mat-option>
					</mat-select>
					<mat-error *ngIf="monthControl.hasError('required')">Veuillez remplir ce champ</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div class="col-6 pr-2" *ngIf="business">
			  	<div class="form-group">          
			   	 	<input 
			      		type="text" 
			      		name="animationType" 
			      		class="form-control" 
			      		placeholder="Type d'animation" 
			      		[(ngModel)]="animationType"
			      		#animationInput="ngModel">
				</div>
			</div>
			<div class="col-6 pl-2"  [style.overflow-y]="'hidden'" [style.max-height]="'4.2rem'" [style.margin-top]="'-1.2rem'">
				<div class="form-group">
					<mat-form-field class="w-100">
		  				<mat-label>Nbr de participants</mat-label>
		  				<mat-select [formControl]="participantControl" [(value)]="participantsNumber" required>
			    			<mat-option *ngFor="let participant of participants" [value]="participant">
			      				{{participant}}
			    			</mat-option>
						</mat-select>
						<mat-error *ngIf="participantControl.hasError('required')">Veuillez remplir ce champs.</mat-error>
					</mat-form-field>
			  	</div>
			</div>
		</div>

		<div class="row" *ngIf="business">
			<div class="col-6">
				<div class="form-group">
			    	<input 
			     		type="text" 
			     		name="duration" 
			     		class="form-control" 
			     		placeholder="Durée*" 
			     		[(ngModel)]="duration"
			     		required
			     		#durationInput="ngModel">
			    	<div class="help is-error" *ngIf="durationInput.invalid && durationInput.dirty">
			    		Veuillez remplir ce champs.
			   		</div>
			  	</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
			  	<div class="form-group">
			    	<textarea 
			      		class="form-control" 
			      		name="message" 
			      		placeholder="Message" 
			      		[(ngModel)]="message"
			      		[rows]="rows ? rows : 5"
			      		#messageInput="ngModel"></textarea>
			  	</div>
			</div>
		</div> -->

		

		<div class="row button-container">
			<div class="col-12 submit-button">
			  	<button mat-button class="w-100" type="submit">Envoyer</button>
			</div>
		</div>
	</form>
</ng-scrollbar>