<section class="certif-section" routerLink="/booking/pro/certif">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-start h-100">
				<div class="presentation-container h-100 col-sm-6 left">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Certification télépilote
									</h1>
									<p>
										Devenir télépilote professionnel avec notre formation spécifique validée par la DGAC<br/><br/>
										35 heures<br/>
										5 jours
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking/pro/certif">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="teambuilding-section" routerLink="/booking/pro/teambuilding">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-end h-100">
				<div class="presentation-container h-100 col-sm-6 right">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Team buildings
									</h1>
									<p>
										événements d'entreprise<br/>
										privatisation possible<br/>
										initiation - montage - démonstration pilotage<br/>
										licence 3 - coktails & planches de charcuterie<br/>
										selon vos désirs & votre budget
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking/pro/teambuilding">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="event-section" routerLink="/booking/pro/event">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-start h-100">
				<div class="presentation-container h-100 col-sm-6 left">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Events & Salons
									</h1>
									<p>
										Animation sur mesure<br/>
										intérieure & extérieure<br/>
										initiation - montage - démonstration pilotage<br/>
										directement dans vos locaux
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking/pro/event">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cowork-section" routerLink="/booking/pro/wooploop">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-end h-100">
				<div class="presentation-container h-100 col-sm-6 right">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										coworking Wooploop
									</h1>
									<p>
										Open space de 200m²<br/>
										accès ateliers & accès piste gratuits<br/>
										fibre - wifi - cuisine - 24h/24 - 7j/7
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking/pro/wooploop">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>