<section class="certif-section" routerLink="/booking">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-start h-100">
				<div class="presentation-container h-100 col-sm-6 left">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Certification télépilote
									</h1>
									<p>
										Suivez une formation de 35 heures en télépilotage pour obtenir l'accréditation professionelle.
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="teambuilding-section" routerLink="/booking">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-end h-100">
				<div class="presentation-container h-100 col-sm-6 right">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Teambuilding
									</h1>
									<p>
										Mise en place d'évènements d'entreprise et d'ateliers de constructions de drones et de challenge de pilotage.
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="event-section" routerLink="/booking">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-start h-100">
				<div class="presentation-container h-100 col-sm-6 left">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Event / Salon
									</h1>
									<p>
										Suivez une formation de 35 heures en télépilotage pour obtenir l'accréditation professionelle.
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cowork-section" routerLink="/booking">
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">	
			<div class="row justify-content-end h-100">
				<div class="presentation-container h-100 col-sm-6 right">
					<div class="row h-100 align-items-end">
						<div class="row h-50 transition-container">
							<div class="row align-items-end wording-container">
								<div class="col-sm-12 pl-5 ml-5">
									<h1>
										Wooploop
									</h1>
									<p>
										Mise en place d'évènements d'entreprise et d'ateliers de constructions de drones et de challenge de pilotage.
									</p>
								</div>
							</div>
							<div class="booking-button-container row">
								<div class="pl-5 ml-5">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>