<section>
	<div class="global position-relative"
		[style.height]="screenHeight + 'px'"
		[style.width]="screenWidth + 'px'"
		[style.overflow-y]="isWooploopOpen ? 'visible' : 'hidden'"
		[scrollTop]="isWooploopOpen ? '' : 0"
	>

		<button mat-button class="close-button" (click)="closeCards()"
		[class.wooploop]="isWooploopOpen"
		[class.certif]="isCertifOpen"
		[class.teambuilding]="isTeambuildingOpen"
		[class.event]="isEventOpen"
		[style.opacity]="isWooploopOpen || isCertifOpen || isTeambuildingOpen || isEventOpen ? 1 : 0" [style.transform]="isWooploopOpen || isCertifOpen || isTeambuildingOpen || isEventOpen ? 'scale3d(1,1,1)' : 'scale3d(0,0,0)'"><i class="material-icons">close</i></button>
		
		<app-cowork-page class="position-absolute" [style.top]="0" [style.opacity]="isWooploopOpen ? 1 : 0" [style.z-index]="isWooploopOpen ? 5 : 1" ></app-cowork-page>

		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-sm-3 card certif" (click)="toggleCard('certif')"
					[class.certif-opened]="isCertifOpen"
					[class.teambuilding-opened]="isTeambuildingOpen"
					[class.event-opened]="isEventOpen"
					[class.wooploop-opened]="isWooploopOpen"
					>
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h4>Certification de télépilote</h4>
									<p>
										Devenir télépilote professionnel avec notre formation spécifique validée par la DGAC<br/><br/>
										35 heures<br/>
										5 jours
									</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-sm">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-container certif-form col-md-9 col-sm-12 offset-md-3 w-100 h-100">
					<div class="row align-items-end justify-content-center">
						<div class="col-9 text-center">
							<h4 class="title">Devenez un professionnel du pilotage<br/> avec la formation de télépilote !</h4>
						</div>
					</div>
					<div class="row h-75 justify-content-center align-items-start">
						<div class="col-md-8 col-sm-12" [style.height]="screenHeight-250 + 'px'" [style.padding-top]="'2rem'">
							<app-contact-form [type]="'reservation-formation'"></app-contact-form>
						</div>
					</div>
				</div>
				<div class="col-sm-3 card teambuilding" 
					(click)="toggleCard('teambuilding')" 
					[class.certif-opened]="isCertifOpen"
					[class.teambuilding-opened]="isTeambuildingOpen"
					[class.event-opened]="isEventOpen"
					[class.wooploop-opened]="isWooploopOpen"
				>
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h4>team buildings</h4>
									<p>
										Événements d'entreprise<br/>
										Privatisation possible<br/>
										Initiation - Montage - Démonstration pilotage<br/>
										Licence 3 - Coktails & planches de charcuterie<br/>
										selon vos désirs & votre budget
									</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-sm">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-container teambuilding-form col-md-9 col-sm-12 offset-md-3 w-100 h-100">
					<div class="row align-items-end justify-content-center">
						<div class="col-9 text-center">
							<h4 class="title">Créez des Team-Buildings uniques<br/> et inoubliables chez nous !</h4>
						</div>
					</div>
					<div class="row h-75 justify-content-center align-items-start">
						<div class="col-md-8 col-sm-12" [style.height]="screenHeight-250 + 'px'" [style.padding-top]="'2rem'">
							<app-contact-form [type]="'reservation-teambuilding'"></app-contact-form>
						</div>
					</div>
				</div>
				<div class="col-sm-3 card event" (click)="toggleCard('event')"
					[class.certif-opened]="isCertifOpen"
					[class.teambuilding-opened]="isTeambuildingOpen"
					[class.event-opened]="isEventOpen"
					[class.wooploop-opened]="isWooploopOpen"
				>
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h4>Events & salons</h4>
									<p>
										Animation sur mesure<br/>
										intérieure & extérieure<br/>
										initiation - montage - démonstration pilotage<br/>
										directement dans vos locaux
									</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-sm">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-container event-form col-sm-9 w-100 h-100">
					<div class="row align-items-end justify-content-center">
						<div class="col-9 text-center">
							<h4 class="title">Créez des événements personnalisés chez vous ou chez nous tout est possible !</h4>
						</div>
					</div>
					<div class="row h-75 justify-content-center align-items-start">
						<div class="col-md-8 col-sm-12" [style.height]="screenHeight-250 + 'px'" [style.padding-top]="'2rem'">
							<app-contact-form [type]="'reservation-evenement'"></app-contact-form>
						</div>
					</div>
				</div>
				<div class="col-sm-3 card wooploop" (click)="toggleCard('wooploop')"
					[class.certif-opened]="isCertifOpen"
					[class.teambuilding-opened]="isTeambuildingOpen"
					[class.event-opened]="isEventOpen"
					[class.wooploop-opened]="isWooploopOpen"
					>
					<div class="background-card"></div>

					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h4>Coworking Wooploop</h4>
									<p>
										Open space de 200m²<br/>
										accès ateliers & accès piste gratuits<br/>
										fibre - wifi - cuisine - 24h/24 - 7j/7
									</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-sm">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
