@import "~src/variables.scss";

section {

	.global {

		overflow: hidden;

		.close-button {
			opacity: 0;
			transform: scale3d(0,0,1);
			transition: ease opacity .2s, 
			cubic-bezier(.22,-0.57,.53,.99) transform .2s;
			height: 3rem;
		    width: 3rem;
		    min-height: 0;
		    min-width: 0;
		    padding: 0;
		    margin: 0;
		    border-radius: 10em;
		    /*border: 1px solid map-get($colors, dark);*/
		    position: absolute;
		    top: 5rem;
		    right: 2rem;
		    z-index: 7;
		    outline: none !important;
		    i {
		    	font-size: 40px;
		    }
		    &.wooploop {
		    	color: map-get($colors, tertiary);
		    	position: fixed;
		    }
		    &.certif {
		    	color: map-get($colors, primary);
		    }
		    &.event {
		    	color: map-get($colors, danger);
		    }
		    &.teambuilding {
		    	color: map-get($colors, secondary);
		    }
		}

		app-cowork-page {
			transition: opacity ease .1s;
		}

		.card {
			cursor: pointer;
			position: relative;
			overflow: hidden;
			transition: transform ease-out .2s, opacity ease .1s;
	    	transform: translate3d(0,0,0);
	    	opacity: 1;
	    	z-index: 1;

			.background-card {
				filter: grayscale(70%);/* blur(.1px);*/
				position: absolute;
				top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    transition: linear 2s transform, ease-out 1s filter;
			}

			&.certif-opened, &.teambuilding-opened, &.event-opened, &.wooploop-opened {
				.transition-container {
					opacity: 0;
				}
			}

			/*&.certif.event-opened, 
			&.certif.wooploop-opened, 
			&.certif.teambuilding-opened,
			&.event.certif-opened, 
			&.event.wooploop-opened,
			&.event.teambuilding-opened, 
			&.teambuilding.certif-opened,
			&.teambuilding.event-opened, 
			&.teambuilding.wooploop-opened {
				pointer-events: none;
			}*/

			&.certif {
				&.event-opened, &.wooploop-opened {
	    			transform: translate3d(-10%,0,0);
	    			opacity: 0;
				}
				.background-card{
					background: url('./../../../assets/img/booking-pro-certif.jpg') no-repeat center center;
					background-size: cover;
				}
				.transition-container:hover .wording-container h4,
				.transition-container:focus .wording-container h4 {
					color: map-get($colors, primary);
				}
			}
			&.teambuilding {
				&.teambuilding-opened {
	    			transform: translate3d(-100%,0,0);
				}
				&.certif-opened {
	    			transform: translate3d(30%,0,0);
	    			opacity: 0;
				}
				&.event-opened, &.wooploop-opened {
	    			transform: translate3d(-20%,0,0);
	    			opacity: 0;
				}
				.background-card{
					background: url('./../../../assets/img/booking-pro-teambuilding.jpg') no-repeat center center;
					background-size: cover;
				}
				.transition-container:hover .wording-container h4,
				.transition-container:focus .wording-container h4 {
					color: map-get($colors, secondary);
				}
			}
			&.event {
				z-index: 2;
				&.certif-opened, &.teambuilding-opened {
	    			transform: translate3d(20%,0,0);
	    			opacity: 0;
				}
				&.event-opened {
	    			//transform: translate3d(100%,0,0);
	    			transform: translate3d(-200%,0,0);
				}
				&.wooploop-opened {
	    			transform: translate3d(-30%,0,0);
	    			opacity: 0;
				}
				.background-card{
					background: url('./../../../assets/img/booking-pro-event.jpg') no-repeat center center;
					background-size: cover;
				}
				.transition-container:hover .wording-container h4,
				.transition-container:focus .wording-container h4 {
					color: map-get($colors, danger);
				}
			}
			&.wooploop {
				&.certif-opened, &.teambuilding-opened {
	    			transform: translate3d(10%, 0, 0);
	    			opacity: 0;
				}
				&.event-opened {
	    			transform: translate3d(100%,0,0);
				}
				&.wooploop-opened {
					transform: scale3d(5,5,5) translate3d(-20%, 0, 0);
					opacity: 0;
				}
				.background-card{
					background: url('./../../../assets/img/booking-pro-wooploop.jpg') no-repeat center center;
					background-size: cover;
				}
				.transition-container:hover .wording-container h4,
				.transition-container:focus .wording-container h4 {
					color: map-get($colors, tertiary);
				}
			}

			&:hover, &:focus {
				.background-card {
					transform: scale3d(1.05,1.05,1.05);
					filter: grayscale(0%); /* blur(0px);*/
				}
			}

			.transition-container {
				
				background: linear-gradient( to top, map-get($colors, 'dark-trans') 70%, rgba(0,0,0,0) 100% );
				opacity: 1;
				transition: opacity ease .3s;

				.wording-container {
					transition: transform ease-out .3s;
					h4 {
						font-family: BebasNeueBold;
						color: map-get($colors, light);
						transition: color 0.25s;
						text-transform: uppercase;
					}
					p {
						font-family: BebasNeueRegular;;
						color: map-get($colors, light);
						opacity: 0;
						transition: opacity .3s;
						font-size:1rem;
						line-height: 1rem;
					}
				}

				.booking-button-container {
					opacity: 0;
					transition: opacity .3s;
					button {
						transition: none;
					}
				}

				&:hover, &:focus {
					.wording-container {
						transform: translateY(-2rem);
						p {
							opacity: 1;
						}
					}
					.booking-button-container  {
						opacity:1;
					}
				}
			}
			
		}

		.form-container {
			position: absolute;
			opacity: 0;
			z-index: 0;
			transition: .5s opacity ease-in;
			.row:first-of-type {
				height: 12rem;
			}
			h4 {
				font-family: BebasNeueBold;
				padding-bottom: 1rem;
				margin-top:0;
			}
		}

		.card.certif-opened + .certif-form,
		.card.teambuilding-opened + .teambuilding-form,
		.card.event-opened + .event-form {
			opacity: 1;
			z-index: 5;
		}
	}

	@media screen and (max-width: 768px) {
	    .global {
	    	min-height:85rem;
	    }

	    .form-container .title {
	    	margin-top: 23rem;
	    }
	}
}