<section>
	<div class="global"
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-sm-3 card certif">
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h2>Certification de télépilote</h2>
									<p>Formation de 35h</p>
									<p>professionnalisante</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 card teambuilding">
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h2>teambuilding</h2>
									<p>Formation de 35h</p>
									<p>professionnalisante</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 card event">
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h2>Event/salon</h2>
									<p>Formation de 35h</p>
									<p>professionnalisante</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 card wooploop">
					<div class="background-card"></div>
					<div class="row h-100 align-items-end">
						<div class="col-sm-12 h-50 transition-container">
							<div class="row h-75 justify-content-center wording-container">
								<div class="col-sm-12">
									<h2>Wooploop</h2>
									<p>Formation de 35h</p>
									<p>professionnalisante</p>
								</div>
							</div>
							<div class="booking-button-container row h-25 align-items-center">
								<div class="col-sm-12">
									<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>