::ng-deep .global{
	article {
		font-family: raleway-regular;
		text-align: justify;

		.post-thumbnail {
			text-align: center !important;
		}
		h1, h2, h3, h4, {
			font-family: BebasNeueRegular;
			padding: 0 20%;
			text-align: left;
			font-style: normal;
			font-size: 1.5rem;
		}
		p:first-of-type {
			&::first-letter {
				font-size:3rem;
			}
			padding-top:3rem;
		}
		p, li {
			padding: 0 20%;
	    	font-size: .9rem;
		}
		.fancy-date {
			display: none;
		}
		.emoji {
			width:1rem !important;
		}
		.end {
		    text-align:center;
		}
		.title-custom {
			font-family: BebasNeueRegular;
			padding: 0 20%;
			text-align: left;
			font-style: normal;
			font-size: 1.5rem;
		    font-size: 3.5rem;
		    line-height: 4rem;
		    width:100%;
		    position:absolute;
		    top:-18rem;
		    &.title-custom-2 {
		    	padding:0;
		    	color: white;
		    	top:42rem;
		    }
		}
		&.article-custom {
			li {
				padding: 0 25% !important;
			}
		}
	}
}