::ng-deep .global{
	article {
		font-family: raleway-regular;
		text-align: justify;

		&.new-article {
			img, iframe {
				margin-left: 50%;
    			transform: translate3d(-50%, 0, 0);
			}
			img {
				//width: 100% !important;
			}
			p:first-of-type {	
				padding-top: 0 !important;
				margin-top: 0 !important;
				img {
					//width:3000px !important;
					transform: translate3d(-50%, 0, 0) scale3d(1.2,1.2,1);
				}
			}
			p:nth-of-type(2) {
				&::first-letter {
					font-size:3rem;
				}
				padding-top:3rem;
			}
		}

		.post-thumbnail {
			text-align: center !important;
		}
		h1, h2, h3, h4, {
			font-family: BebasNeueRegular;
			padding: 0 20%;
			text-align: left;
			font-style: normal;
			font-size: 1.5rem;
		}
		p:first-of-type {
			&::first-letter {
				font-size:3rem;
			}
			padding-top:3rem;
		}
		p, li {
			padding: 0 20%;
	    	font-size: .9rem;
		}
		.fancy-date {
			display: none;
		}
		.emoji {
			width:1rem !important;
		}
		.end {
		    text-align:center;
		}
		.title-custom {
			font-family: BebasNeueRegular;
			padding: 0 20%;
			text-align: left;
			font-style: normal;
			font-size: 1.5rem;
		    font-size: 3.5rem;
		    line-height: 4rem;
		    width:100%;
		    position:absolute;
		    top:-18rem;
		    &.title-custom-2 {
		    	padding:0;
		    	color: white;
		    	top:42rem;
		    }
		}
		&.article-custom {
			li {
				padding: 0 25% !important;
			}
		}
	}
}