<section class="universe" title="Univers drone - Drone melting pot">
	<div class="global container pt-5" 	
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="row justify-content-center"> 
            <h1 class="mb-0">L'univers du drone</h1>
        </div>
		<div class="row">
			<div class="col-lg-5 informations-container">
				<div class="wording-container">
					<h4>1 - Le constat</h4>
					<p>On pense que le drone, c'est un jouet ou trop compliqué et souvent cher...</p>
				</div>
				<div class="wording-container">
					<h4>2 - Chez DRONEEZ...</h4>
					<p>On a décidé de vous aider à progresser au maximum</p>
				</div>
				<div class="wording-container">
					<h4>3 - Le contrôle de la manette</h4>
					<p>Contrôle des gazs, puissance, direction, la coordination est la clé<br/>
					avec droneez on apprend pas à pas</p>
				</div>
				<div class="wording-container">
					<h4>4 - Manipulation à vue</h4>
					<p>Plusieurs exercices pour prendre en main le drone & comprendre<br /> ses mouvements dans l'espace pour mieux le maîtriser par la suite...</p>
				</div>
				<div class="wording-container">
					<h4>5 - Vol en immersion</h4>
					<p>Première prise en main des repères spatiaux avec un écran 2D<br/>Mise en place de bons réflexes avec le mode stabilisé,<br/> puis en mode acrobatique après quelques heures de pratique</p>
				</div>
				<div class="wording-container">
					<h4>6 - Maîtrise du monde du drone</h4>
					<p>L'équipe droneez vous apporte des conseils pour le montage,<br/> paramétrage de votre drone selon vos besoins</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="steps" title="Piste de drones Paris">
	<div class="global container pt-5" 	
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="row justify-content-center"> 
            <h1 class="m-0">La genèse de droneez</h1>
        </div>
        <div class="row justify-content-center">
        	<p class="subtitle mb-0">La société DRONEEZ a été créée pas à pas en testant le marché pour proposer une offre adaptée pour tous.</p>
        </div>
        <div class="row justify-content-center">
        	<div class="transition number-1 col-lg-4 px-5">
        		<div class="row justify-content-center">
	        		<span class="step-number w-100 text-center">1</span>
	        		<div class="separate-line pb-4"></div>
	        		<h4 class="w-100 text-center m-0">LOCAL SUD DE PARIS</h4>
	        		<div class="img-container">
		    			<img class="img-fluid px-5 py-3" [src]="'assets/img/about-local-ivry.jpg'" alt="Piste Drone Ivry" />
		    		</div>
	    			<p class="text-justify description">Face au fait que personne ne propose une offre de découverte et de mise à disposition du drone...<br/><br/>
	    			DRONEEZ a commencé à tester le marché en 2016, dans un local privé à Ivry sur Seine.<br/><br/>
	    			La société accueille 200 clients pendants quelques mois pour proposer des ateliers, des drones et des exercices adaptés.</p>
	    		</div>
        	</div>
        	<div class="transition number-2 col-lg-4 px-5">
        		<div class="row justify-content-center">
	        		<span class="step-number w-100 text-center">2</span>
	        		<div class="separate-line pb-4"></div>
	        		<h4 class="w-100 text-center m-0">Les tests grands publics</h4>
	        		<div class="img-container">
		    			<img class="img-fluid px-5 py-3" [src]="'assets/img/about-urban-soccer.jpg'" alt="Piste Drone Urban Soccer" />
		    		</div>
	    			<p class="text-justify description">Les bons retours sur les premières étapes de notre développement ont amené l’équipe à faire des évènements plus importants…<br/><br/>Vivatech, cité des Sciences, MAKER FAIR ETC.<br/><br/>Tout en mettant en place des ateliers tous les weeks-ends durant 6 mois SUR des terrains d’Urban Soccer.</p>
	    		</div>
        	</div>
        	<div class="transition number-3 col-lg-4 px-5">
        		<div class="row justify-content-center">
	        		<span class="step-number w-100 text-center">3</span>
	        		<div class="separate-line pb-4"></div>
	        		<h4 class="w-100 text-center m-0">L'ouverture d'une salle</h4>
	        		<div class="img-container">
		    			<img class="img-fluid px-5 py-3" [src]="'assets/img/about-local-malakoff.jpg'" alt="Salle Malakoff Droneez" />
		    		</div>
	    			<p class="text-justify description">Devant l’engouement des particuliers et des professionnels avec plus de 500 clients en 6 mois durant Le premier semestre 2017…<br/><br/>Nous ouvrons une salle dédiée & spécialisée proche de Paris pour que tout un chacun puisse venir découvrir ou se perfectionner en drone.
					</p>
	    		</div>
        	</div>
        </div>
    </div>
</section>

<section class="team">
	<div class="global container py-5" 	
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="row justify-content-center py-5"> 
            <h1>L'équipe</h1>
        </div>

        <div class="row justify-content-center align-items-center pb-5 mb-5"> 
            <div class="img-wrapper col-5 pr-0">
            	<img class="img-fluid" [src]="'assets/img/about-team-matthieu.png'" alt="matthieu perillaud co-fondateur directeur general" />
            </div>
            <div class="col-7">
            	<div class="ml-4 row h-100 align-items-center">
            	    <div class="col wording-container">
	            	    <div class="name row w-100">
	            			<p class="w-100 mb-0">Matthieu Perillaud</p>
	            		</div>
	            		<div class="infos row justify-content-between w-100">
	            			<p class="position mt-3">Co-fondateur, directeur général</p>
	            			<p class="mail mt-3">matthieu@droneez.fr</p>
	            			<p>Malgré un diplôme d'ingénieur chimiste, Matthieu ne travailla jamais dans la Chimie et préféra bifurquer dans l'entrepreneuriat, son diplome d'HEC en poche, il monte une société dans le digital, puis une deuxième, et décide pour sa troisième expérience de partir sur un domaine plus fun : le drone, avec un associé plus fun : Sabri son ami d'enfance.</p>
	            		</div>
	            	</div>
            	</div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center pb-5 mb-5"> 
            <div class="img-wrapper col-5 pl-0 order-last text-right">
            	<img class="img-fluid" [src]="'assets/img/about-team-sabri.png'" alt="sabri el fani co-fondateur president" />
            </div>
            <div class="col-7 order-first">
            	<div class="ml-4 row h-100 align-items-center">
            	    <div class="col wording-container">
	            	    <div class="name row w-100 text-right">
	            			<p class="w-100 mb-0">Sabri El Fani</p>
	            		</div>
	            		<div class="infos row justify-content-between w-100">
	            			<p class="mail mt-3">sabri@droneez.fr</p>
	            			<p class="position mt-3">Co-fondateur, président</p>
	            			<p>Ingénieur Chimiste, Intéressé par le monde des affaires il devient trader de matières premières chimiques... Devant les tableurs à longueur de journée, une envie de liberté et d'entreprendre le gagne... L'idée de monter une entreprise avec Matthieu s'est imposée en toute logique.</p>
	            		</div>
	            	</div>
            	</div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center pb-5 mb-5"> 
            <div class="img-wrapper col-5 pr-0">
            	<img class="img-fluid" [src]="'assets/img/about-team-laurent.png'" alt="laurent rak CTO" />
            </div>
            <div class="col-7">
            	<div class="ml-4 row h-100 align-items-center">
            	    <div class="col wording-container">
	            	    <div class="name row w-100">
	            			<p class="w-100 mb-0">Laurent Rak</p>
	            		</div>
	            		<div class="infos row justify-content-between w-100">
	            			<p class="position mt-3">CTO</p>
	            			<p class="mail mt-3">laurent@droneez.fr</p>
	            			<p>Ingénieur informatique, touche à tout dans ses heures perdues et passionné de nouveaux défis. Ce Mac Gyver décide de compléter ses audits et rejoint Droneez comme associé pour partir vers l'infini et au delà...</p>
	            		</div>
	            	</div>
            	</div>
            </div>
        </div>

        <!--<div class="row justify-content-center align-items-center pb-5 mb-5"> 
            <div class="img-wrapper col-5 pl-0 order-last text-right">
            	<img class="img-fluid" [src]="'assets/img/about-team-adrien.png'" />
            </div>
            <div class="col-7 order-first">
            	<div class="ml-4 row h-100 align-items-center">
            	    <div class="col wording-container">
	            	    <div class="name row w-100 text-right">
	            			<p class="w-100 mb-0">Adrien Hulot</p>
	            		</div>
	            		<div class="infos row justify-content-between w-100">
	            			<p class="mail mt-3">adrien@droneez.fr</p>
	            			<p class="position mt-3">Directeur artistique</p>
	            			<p>En commençant après son BAC en STEP, science de l'environnement & de la terre, Adrien décide de changer de bord et poursuit ses études dans la prestigieuse école des Gobelins en étude & réalisation d'un produit de communication... Il tombe sur Droneez au pied de chez lui et tente sa chance pour la réalisation d'un concept en mode start-up !</p>
	            		</div>
	            	</div>
            	</div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center pb-5 mb-5"> 
            <div class="img-wrapper col-5 pr-0">
            	<img class="img-fluid" [src]="'assets/img/about-team-luck.png'" />
            </div>
            <div class="col-7">
            	<div class="ml-4 row h-100 align-items-center">
            	    <div class="col wording-container">
	            	    <div class="name row w-100">
	            	    	<p class="w-100 mb-0">Luck Ballaud</p>
	            		</div>
	            		<div class="infos row justify-content-between w-100">
	            			<p class="position mt-3">Lead Developper</p>
	            			<p class="mail mt-3">luck@droneez.fr</p>
	            			<p>Luck lache rapidement une carrière de chercheur en Neurosciences pour découvrir la passion pour le numérique, il évolue dans les grandes boîtes, les banques, avant de rencontrer Matthieu dans un de ses postes au sein d'une start-up numérique développant une app & un site internet. Il retrouve Matthieu quelques années plus tard séduit par Droneez & ses futurs découvertes dans le monde du drone !</p>
	            		</div>
	            	</div>
            	</div>
            </div>
        </div>-->

        <div class="row justify-content-center align-items-center pb-5 mb-5"> 
            <div class="img-wrapper col-5 pl-0 order-last text-right">
            	<img class="img-fluid" [src]="'assets/img/about-team-luck.png'" alt="luck ballaud lead developpeur" />
            </div>
            <div class="col-7 order-first">
            	<div class="ml-4 row h-100 align-items-center">
            	    <div class="col wording-container">
	            	    <div class="name row w-100 text-right">
	            			<p class="w-100 mb-0">Luck Ballaud</p>
	            		</div>
	            		<div class="infos row justify-content-between w-100">
	            			<p class="mail mt-3">luck@droneez.fr</p>
	            			<p class="position mt-3">Lead Developper</p>
	            			<p>Luck lache rapidement une carrière de chercheur en Neurosciences pour découvrir la passion pour le numérique, il évolue dans les grandes boîtes, les banques, avant de rencontrer Matthieu dans un de ses postes au sein d'une start-up numérique développant une app & un site internet. Il retrouve Matthieu quelques années plus tard séduit par Droneez & ses futurs découvertes dans le monde du drone !</p>
	            		</div>
	            	</div>
            	</div>
            </div>
        </div>

    </div>
</section>

