h2.title {
	position: absolute;
    top: 6rem;
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    color: white !important;
    font-family: BebasNeueRegular;

	span {
		color: white !important;
	}
}



