<section class="home-section">
	<div class="global">
		<div class="title-container">
			<img [src]="'assets/img/logo/wooploop.png'" />
			<p>
				Le Local DRONEEZ accueille un espace de travail où cohabitent des résidents sur une trentaine de postes qui sont mis à disposition ainsi que 6 ateliers équipés de matériels tel que imprimantes 3D, thermomoulage & découpe de fibre de carbone.
				<br />
				L’esprit Start-up du coworking est inspiré de locaux industriels avec une cuisine, un babyfoot, des salles de réunions et tout ce qui fait le charme des de la silicon valley (console, écran, babyfoot ) ainsi qu’un accès pour les volières de l’activité de DRONEEZ.
			</p>
		</div>
	</div>
</section>

<section class="coworking-section">
	<div class="global container">
		<div class="title-container">
			<h2 class="title">Coworking</h2>
			<p>Accès à un poste fixe Internet Accès carte RFID Accès Atelier Imprimante</p>
			<p class="price">250€ HT/MOIS/POSTE</p>
		</div>
		<div class="">
			<app-contact-form></app-contact-form>
		</div>
	</div>
</section>

<section class="coworking-section">
	<div class="global">
		<div class="title-container">
			
		</div>
	</div>
</section>

<section class="desk-section">
	<div class="global">
		<div class="title-container">
			
		</div>
	</div>
</section>

<section class="workshop-section">
	<div class="global">
		<div class="title-container">
			
		</div>
	</div>
</section>
