<section class="home-section" >
	<div class="global" 	
		[style.height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'"
	>
		<div class="container-fluid">
			<div class="logo-container row align-items-center justify-content-center">
				<img class="mb-5" [src]="'assets/img/logo/wooploop.png'"/>
			</div>			
			<div class="presentation-container row align-items-center justify-content-center">
				<div class="col-sm-10 mx-auto">
					<p>
						Le Local DRONEEZ accueille un espace de travail où cohabitent des résidents sur une trentaine de postes qui sont mis à disposition ainsi que 6 ateliers équipés de matériels tel que imprimantes 3D, thermomoulage & découpe de fibre de carbone.
					</p>
					<p>
						L’esprit Start-up du coworking est inspiré de locaux industriels avec une cuisine, un babyfoot, des salles de réunions et tout ce qui fait le charme des de la silicon valley (console, écran, babyfoot ) ainsi qu’un accès pour les volières de l’activité de DRONEEZ.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="coworking-section">
	<div class="global container-fluid px-0">
		<div class="row mx-0 align-items-center justify-content-center">
			<div class="img-container px-0 mx-0 col-sm-6">
				<div class="background-img h-100"></div>
			</div>
			<div class="col-sm-6 row align-items-center justify-content-center px-0 mx-0">
				<div class="wording-container pt-5 px-5">
					<h2 class="title">Coworking</h2>
					<p>Mise à disposition de bureaux</p>
					<p>Abonnement mensuel avec un engagement minimum de 6 à 12 mois pour les postes dédiées à une entreprise ou un indépendant.</p> 
					<p>Place dans notre open space avec rangement individuel, accès à nos infrastructures pour les fournitures de bureaux, les impressions, l’espace détente (café, babyfoot, écran, consoles) ainsi que nos ateliers et nos volières si ces derniers ne sont pas occupés par l’activité DRONEEZ.</p>
					<p>Internet Fibre & Accès via une application mobile unique pour chaque poste.</p>
					<h5 class="price pb-3">250€ HT/MOIS/POSTE</h5>
				</div>
				<div class="row justify-content-center mb-5">
					<div class="col-10">
						<app-contact-form [type]="'reservation-cowork-forfait-1'"></app-contact-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="desk-section">
	<div class="global container-fluid px-0">
		<div class="row mx-0 align-items-center justify-content-center">
			<div class="col-sm-6 row align-items-center justify-content-center px-0 mx-0">
				<div class="wording-container pt-5 px-5">
					<h2 class="title">BUREAUX PRIVATIF</h2>
					<p class="mb-0">Mise à disposition de bureaux</p>
					<p class="mb-0">Bureau fermé de 20m2 au sol</p>
					<p>4 à 5 postes</p>
					<p>Abonnement mensuel avec un engagement minimum de 6 à 12 mois pour les postes dédiées à une entreprise ou un indépendant.</p>
					<p>Place dans notre open space avec rangement individuel, accès à nos infrastructures pour les fournitures de bureaux, les impressions, l’espace détente (café, babyfoot, écran, consoles) ainsi que nos ateliers et nos volières si ces derniers ne sont pas occupés par l’activité DRONEEZ.</p>
					<p>Internet Fibre & Accès via une application mobile unique pour chaque poste.</p>
					<h5 class="price pb-3">1000€ HT/MOIS/BUREAU</h5>
				</div>
				<div class="row justify-content-center mb-5">
					<div class="col-10">
						<app-contact-form [type]="'reservation-cowork-forfait-2'"></app-contact-form>
					</div>
				</div>
			</div>
			<div class="img-container px-0 mx-0 col-sm-6">
				<div class="background-img h-100"></div>
			</div>
		</div>
	</div>
</section>

<section class="workshop-section">
	<div class="global container-fluid px-0">
		<div class="row mx-0 align-items-center justify-content-center">
			<div class="img-container px-0 mx-0 col-sm-6">
				<div class="background-img h-100"></div>
			</div>
			<div class="col-sm-6 row align-items-center justify-content-center px-0 mx-0">
				<div class="wording-container pt-5 px-5">
					<h2 class="title">ATELIER</h2>
					<p class="mb-0">Mise à disposition d’un atelier</p>
					<p class="mb-0">Bureau ouvert dans l’espace atelier</p>
					<p>5 m²</p>
					<p>Location ponctuelle à la journée ou à la semaine.</p>
					<p>Internet Fibre & Accès à nos machines CNC, Imprimante 3D & thermomoulage en payant en plus les consommables polymères et fibre de carbone</p>
					<h5 class="price pb-3">30€ HT/JOUR/ATELIER</h5>
				</div>
				<div class="row justify-content-center mb-5">
					<div class="col-10">
						<app-contact-form [type]="'reservation-cowork-forfait-3'"></app-contact-form>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>