@import "~src/variables.scss";

.home-section {

	background: url('./../../../assets/img/cowork-bg.jpg');
	background-size: cover;
    background-position-y: center;
	overflow: hidden;

	.global {
		position: relative;
		width: 100%;
		height: 100%;

		.container-fluid {
			height: 100%;

			.logo-container {
				height: 100%;
				img {
					max-height: 20rem;
	    			max-width: 22rem;
	    			width: auto;
	    			height: auto;
	    			display: block;
				}
			}

			.presentation-container {
				position: absolute;
				width: 100%;
				height: 33%;
				bottom: 0;
				background: map-get($colors, 'dark-trans');
				p {
					font-family: raleway-medium;
					color: map-get($colors,light);
					text-align: center;
				}
			}
		}
	}
}

.coworking-section, 
.desk-section, 
.workshop-section {
	.global {
		.img-container {
			align-self: stretch;
		}
		.wording-container {
			font-family: raleway-medium;
			text-align: center;
			font-size: .8rem;
			.title {
				font-size: 2.5rem;
				font-family: BebasNeueBold;
				text-transform: uppercase;
				margin-bottom: 2rem;
			}
			.price {
				margin-top: 1.5rem;
			}
		}
	}
}

.coworking-section .background-img {
	background: url('./../../../assets/img/cowork-1.jpg') no-repeat 47% center;
	background-size: cover;
}
.desk-section .background-img {
	background: url('./../../../assets/img/cowork-2.jpg') no-repeat 50% center;
	background-size: cover;
}
.workshop-section .background-img { 
	background: url('./../../../assets/img/cowork-3.jpg') no-repeat 30% center;
	background-size: cover;
}

