<section class="video-section">
	<div class="global">
		<div class="title-container container-fluid h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-6">
					<h2 class="title">
						une salle de drone de 1800 m²
					</h2>
					<p class="subtitle">
						Venez découvrir le dorne de 7 à 77 ans, amateur ou pros venez apprendre ou parfaire votre pilotage. Cours de pilotage à vue, en immersion & piste de course vous attendent.
					</p>
					<!--<div class="booking-button">
						<app-logo [speed]="500" [anim]="animLogo" [title]="false"></app-logo>
						<a (mouseover)="animLogo=true" (mouseout)="animLogo=false" [class.focus]="animLogo" routerLink="/booking">réserver</a>
					</div>-->
					<div class="spacer"></div>
					<div class="booking-button">
						<button class="mat-btn-outline-light mat-btn-lg" mat-button routerLink="/booking">réserver</button>
					</div>
				</div>
			</div>
			
		</div>
		<div class="city-container container" style="display:none">
			<div class="city row justify-content-around align-items-center">
				<div class="img-container">
					<img [src]="'assets/icon/malakoff-place.png'" />
					<span class="img-label">Paris</span></div>
				<div class="img-container">
					<img [src]="'assets/icon/malakoff-place.png'" />
					<span class="img-label">Paris</span>
				</div>
				<div class="img-container">
					<img [src]="'assets/icon/malakoff-place.png'" />
					<span class="img-label">Paris</span>
				</div>
			</div>
		</div>
		<div class="video-container" 
			[style.height]="screenHeight + 'px'" 
			[style.width]="screenWidth + 'px'"
		>
			<video [preload]="true" [loop]="true" [autoplay]="true" [muted]="true"
				[ngStyle]="{
					top: parallaxOffset + 'px',
					width:screenWidth + 'px',
					height: isIEorEdge ? 'auto' : screenHeight + 'px',
					'-ms-ime-align': 'auto',
					objectFit:'cover'
				}"
			>
				<source src="assets/img/video_homepage.mp4">
			</video>
		</div>
	</div>
</section>

<section class="races-section">
	<div class="decoration">
		<img class="background-img corner-left" [src]="'assets/img/drone-course-bg1.png'">
		<img class="background-img corner-right" [src]="'assets/img/drone-course-bg2.png'">
	</div>
	<div class="global container" 
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'">
		<div class="global-sub-container">
			<div class="presentation-container">
				<h2 class="title">loisir & Courses</h2>
				<div class="row">
					<p class="presentation col-sm-8 col-md-6 col-lg-4 mx-auto">
						Profitez d'un espace intérieur créé pour le drone pour prendre en main un drone sans assistance depuis le premier vol jusqu'au mode acrobatique encadré par nos pilotes ou seul si vous avez déjà la maîtrise.
					</p>
				</div>
			</div>
			<div class="icon-container">
				<div class="figure-container">
					<figure class="text-center">
						<img [src]="'assets/icon/initiation-icon.png'" />
						<figcaption>
							<p class="mb-0 pt-4">Initiation</p>
							<p class="mb-0">Pilotage à vue</p>
							<p class="mb-0">Avec encadrant</p> 
						</figcaption>
					</figure>
				</div>
				<div class="figure-container">
					<figure class="text-center">
						<img [src]="'assets/icon/fpv-icon.png'" />
						<figcaption>
							<p class="mb-0 pt-4">Immersion</p>
							<p class="mb-0">Pilotage retour caméra</p>
							<p class="mb-0">Avec encadrant</p>
						</figcaption>
					</figure>
				</div>
				<div class="figure-container">
					<figure class="text-center">
						<img [src]="'assets/icon/pistes-icon.png'" />
						<figcaption>
							<p class="mb-0 pt-4">Accès Piste</p>
							<p class="mb-0">Pilotage avec votre</p>
							<p class="mb-0">matériel sur notre espace</p>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="booking-button-container mb-4">
				<button mat-button class="mat-btn-outline-dark mat-btn-lg" routerLink="/booking">Réserver</button>
			</div>
		</div>
	</div>
</section>

<section class="lesson-section">
	<div class="global"
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="presentation-container col-6 h-100">
					<div class="row h-100 justify-content-center" [style.min-height]="screenHeight + 'px'">
						<div class="wording-container col-8 text-center">
							<h2>Cours Particuliers</h2>
							<p>Vous démarrez dans le drone de prise de vue et vous n'avez pas envie de voler sans conseils.Venez commencer ou parfaire votre pilotage de drones en une ou deux heures pour réaliser des photos ou vidéos exceptionnelles.</p>
							<div class="booking-button-container">
								<button mat-button class="mat-btn-outline-light mat-btn-lg" routerLink="/booking">Réserver</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="certification-section">
	<div class="global container" 
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'">
		<div class="row">
			<div class="img-container col-md-7 d-none d-md-block align-self-center">
				<img [src]="'assets/img/certif-drone.jpg'"/>
			</div>
			<div class="certif-container col-sm-12 col-md-5">
				<h2 class="title">Certification Télépilote</h2>
				<p class="certif-presentation px-lg-4">
					Vous souhaitez devenir professionnel en pilotage de drones. Venez passer votre brevet de Télepilote de drone certifié DGAC & vous préparer à l'examen théorique.
				</p>
				<p class="certif-presentation px-lg-4">35h de formation</p>
				<div class="certif-button">
					<button mat-button class="mat-btn-outline-dark mat-btn-lg" routerLink="/home">
						Passer pro
					</button>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="business-section">
	<div class="global container-fluid" 
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'">
		<h2 class="title">
			Services pour entreprises
		</h2>
		<div class="activity row align-items-center">
			<div class="metrics-container col-md-12 col-lg-4 row">
				<p class="metrics m-auto col-sm-9 text-nowrap">
					<span class="metric">98</span>  Teambuilding dans nos locaux
				</p>
			</div>
			<div class="col-md-12 col-lg-8 row align-items-center">
				<div class="col-sm-8">
					<p class="activity-presentation m-auto col-sm-11">
						Nos locaux de 1800m2 sont entièrement privatisable pour découvrir le monde du drone avec vos équipes & créer des soirées extraordinaire dans un ancien entrepôt rénové en loft industriel. Bar licence 3, cocktail, VR, démonstration et pilotage nous pouvons répondre à tous vos désirs.
					</p>
				</div>
				<div class="activity-icon col-sm-3">
					<img class="img-fluid" [src]="'assets/icon/business-1.png'">
				</div>
				<div class="arrow-icon col-sm-1" routerLink="/booking">
					<i class="icon"></i>
				</div>
			</div>
		</div>
		<div class="activity row align-items-center">
			<div class="metrics-container col-md-12 col-lg-4 row">
				<p class="metrics m-auto col-sm-9 text-nowrap">
					<span class="metric">21</span>  Coworkers
				</p>
			</div>
			<div class="col-md-12 col-lg-8 row align-items-center">
				<div class="col-sm-8">
					<p class="activity-presentation m-auto col-sm-11">
						Pour devenir un lieu clé du monde du drone, nous accueillons des start-ups sur un plateau de 200m2 au 1er étage avec accès ateliers & pistes gratuit pour les tests et le développement de leurs offres.
					</p>
				</div>
				<div class="activity-icon col-sm-3">
					<img class="img-fluid" [src]="'assets/icon/business-2.png'">
				</div>
				<div class="arrow-icon col-sm-1" routerLink="/booking">
					<i class="icon"></i>
				</div>
			</div>
		</div>
		<div class="activity row align-items-center">
			<div class="metrics-container col-md-12 col-lg-4 row">
				<p class="metrics m-auto col-sm-9 text-nowrap">
					<span class="metric">25</span>  Salons et event
				</p>
			</div>
			<div class="col-md-12 col-lg-8 row align-items-center">
				<div class="col-sm-8">
					<p class="activity-presentation m-auto col-sm-11">
						Nos équipes se déplacent et nous pouvons créer des événements de découverte chez vous dans une salle particulière, monter notre cage de sécurité et nous adapter en fonction du nombres de personnes. Vol à vue, démonstration immersion, Vol avec des drones stabilisés en fonction de vos désirs et des autorisations obtenues.
					</p>
				</div>
				<div class="activity-icon col-sm-3">
					<img class="img-fluid" [src]="'assets/icon/business-3.png'">
				</div>
				<div class="arrow-icon col-sm-1" routerLink="/booking">
					<i class="icon"></i>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="clients-section">
	<div class="global container-fluid" 
		[style.min-height]="screenHeight + 'px'" 
		[style.width]="screenWidth + 'px'">
		<div class="clients-container" *ngIf="clients.length">
			<h2 class="title">Nos clients</h2>
			<div class="clients-icons">
				<ul>
					<li *ngFor="let client of clients">
						<img [src]="'assets/icon/clients/' + client + '.png'">
						<div class="shadow-icon"></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="supports-container" *ngIf="supports.length">
			<h2 class="title">Nos soutiens</h2>
			<div class="supports-icons">
				<ul>
					<li class="px-5" *ngFor="let support of supports">
						<img [src]="'assets/icon/supports/' + support + '.png'">
						<div class="shadow-icon"></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="partners-container" *ngIf="partners.length">
			<h2 class="title">Nos partenaires</h2>
			<div class="partners-icons">
				<ul>
					<li class="px-5" *ngFor="let partner of partners">
						<img [src]="'assets/icon/partners/' + partner + '.png'">
						<div class="shadow-icon"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>


