// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap-grid.scss';
/* Font-Awesome */
@import "~font-awesome/css/font-awesome.min.css";
/* Globals variables */
@import "~src/variables.scss";

/* fonts */
@font-face {
    font-family: BebasNeueRegular;
    src: url("assets/fonts/BebasNeue/BebasNeueRegular.otf");
}
@font-face {
    font-family: BebasNeue;
    src: url("assets/fonts/BebasNeue/BebasNeue.otf");
}
@font-face {
    font-family: BebasNeueBold;
    src: url("assets/fonts/BebasNeue/BebasNeueBold.ttf");
}
@font-face {
    font-family: BebasNeueThin;
    src: url("assets/fonts/BebasNeue/BebasNeueThin.ttf");
}
@font-face {
    font-family: BebasNeueLight;
    src: url("assets/fonts/BebasNeue/BebasNeueLight.ttf");
}
@font-face {
    font-family: BebasNeueBook;
    src: url("assets/fonts/BebasNeue/BebasNeueBook.ttf");
}
@font-face {
    font-family: raleway-medium;
    src: url("assets/fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
    font-family: raleway-regular;
    src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: raleway-extra-bold;
    src: url("assets/fonts/Raleway/Raleway-ExtraBold.ttf");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x:hidden;}
button { outline:none !important; }

.mat-btn-outline-dark, 
.mat-btn-outline-light {
	font-family: BebasNeueBold;
    text-transform: uppercase;
    border-radius: 30px !important;
    border-style: solid !important;
    outline: none !important;
    line-height: 0 !important;
}

.mat-btn-no-border-dark, 
.mat-btn-no-border-light {
    font-family: BebasNeueBold;
    text-transform: uppercase;
    border-radius: 30px !important;
    outline: none !important;
    line-height: 0 !important;
}

.mat-btn-no-border-dark, 
.mat-btn-outline-dark {
    color: map-get($colors, dark);
    transition: .5s;
    &:hover, &:focus {
        box-shadow: inset 15rem 0 3rem 0 map-get($colors, dark);
        color: map-get($colors, light);
    }
}
.mat-btn-no-border-light, 
.mat-btn-outline-light {
    color: map-get($colors, light);
    transition: .5s;
    &:hover, &:focus {
        box-shadow: inset 15rem 0 3rem 0 map-get($colors, light);
        color: map-get($colors, dark);
    }

}
.mat-btn-outline-dark {
    border-color: map-get($colors, dark) !important;
}
.mat-btn-outline-light {
    border-color: map-get($colors, light) !important;
}

.mat-btn-sm {
    border-width: 2px !important;
    padding: 16px 0px !important;
    font-size: 1rem;
    width: 7rem;
}
.mat-btn-lg {
	border-width: 2px !important;
    padding: 23px 58px !important;
    font-size: 1.5rem;
}

.absolute-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);
.igx-calendar__header {
    display: none;
    padding: .2rem 1rem !important;
}
.igx-calendar__header-date {
    font-size: 1.5rem !important;
    position: absolute;
    top: -.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.igx-calendar__date--current:not(.igx-calendar__date--selected) .igx-calendar__date-content {
    background: none !important; 
}
$my-calendar-theme: igx-calendar-theme(
    $header-background: #494b40,
    $header-text-color: map-get($colors, light),
    $weekend-text-color: rgba(0, 0, 0, 0.87),
    $date-selected-text-color: map-get($colors, light)
);

@include igx-calendar($my-calendar-theme);

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 800px !important;
    }
}

.mat-simple-snackbar {
    text-align: center;
    span {
        width: 100%;
    }
}