$colors: (
  primary:    #63EF63,
  secondary:  #1F6EFF,
  danger:     #FF07AC,
  light:      #FFFFFF,
  light-trans: rgba(255,255,255,.75),
  dark:       #000000,
  dark-trans: rgba(0,0,0,.3),
  bold:       #FF07AC
);