<div>
	<div>
		<p><strong>Date de mise à jour :</strong> 14 Février 2018</p>
		<h5>Editeur du site :</h5>
		<p>DRONEEZ SAS</p>
		<p>Adresse : 10 allée Claude Monet 94450 Limeil Brevannes, France</p>
		<p>SAS au capital de 67 000 EUR – Numéro d’immatriculation : 820 609 683 RCS Créteil</p>
		<p>N° de TVA intracommunautaire : FR 04820609683</p>
		<p>Directeur de la publication : Matthieu Perillaud, Directeur Général</p>
	</div>
	<div>
		<p>Pour tout contact :</p>
		<p><strong>Email – matthieu@droneez.com</strong></p>
		<p><strong>Tel 06 27 92 54 33</strong></p>
	</div>
	<div>
		<h5>Hébergeur :</h5>
		<p>Nom : OVH</p>
		<p>Adresse : 2 RUE KELLERMANN 59100 Roubaix</p>
		<p>N° de téléphone : 1007</p>
	</div>
</div>

<div> 
	<ol>
		<li>
			<h4>PREAMBULE</h4>
			<p>La société DRONEEZ (« <strong>DRONEEZ</strong> ») exploite le site internet <a href="http://www.droneez-legacy.com">www.droneez-legacy.com</a> (le <strong>« Site »</strong>) et boutique.droneez.com (le <strong>« Site marchand»</strong>), ensemble les « <strong>Sites »</strong>. Toute personne utilisant le Site et/ou le Site transactionnel (l’ <strong>« Internaute ») </strong>s’engage à respecter les dispositions des présentes.</p>
		</li>

		<li>
			<h4>SERVICES PROPOSES SUR LE SITE</h4>
			<ol>
				<li>
					<h5>Les prestations à la vente</h5>
					<p>Le Site a pour but de présenter à la vente des leçons de pilotage de drone et la réservation de créneau de pilotage en volière, telles que définies à l’Article 2.1 des Conditions Générales de Vente (<strong>« CGV »</strong>). Pour la commande de créneau de pilotage, l’Internaute est basculé sur le Site Transactionnel. Le Site est disponible dans le monde entier. Toutefois, la vente de Prestations est réservée aux Internautes domiciliés en France.</p>
				</li>
				<li>
					<h5>
						Les demandes de renseignement
					</h5>
					<p>Le Site a également pour but de présenter d’autres services proposés par DRONEEZ mais ne pouvant pas faire l’objet d’une commande en ligne.</p>
					<p>Il s’agit notamment des services suivants :</p>
					<ol>
						<li>L’organisation d’événements pour le compte d’entreprises,</li>
						<li>La location d’espace de co-working, d’ateliers, de salle de réunion,</li>
						<li>Une formation certifiante de télépilotage professionnel.</li>
					</ol>
					<p>L’Internaute intéressé par l’un de ses services remplit un questionnaire afin d’obtenir des informations.  DRONEEZ prendra alors contact avec l’Internaute dans les meilleurs délais par téléphone ou par email.</p>
					<p>Le Site permet également à tout Internaute de s’abonner à la newsletter de DRONEEZ. Le cas échéant, DRONEEZ sera autorisée à envoyer des emails de type communication commerciale à l’Internaute.</p>
				</li>
				<li>
					<h5>Suspension, modification, fin des services</h5>
					<p>DRONEEZ se réserve le droit, sans préavis et à son entière discrétion, de mettre fin ou de modifier tout ou partie des services décrits au 2.1 et 2.2.</p>
				</li>
			</ol>
		</li>

		<li>
			<h4>OBLIGATIONS DE L’INTERNAUTE</h4>
			<p>L’Internaute s’engage à :</p>
			<ul>
				<li>ne pas porter atteinte et/ou tenter de porter atteinte au bon fonctionnement des Sites, y compris à leur contenu, de quelque manière que ce soit ;</li>
				<li>ne pas reproduire, utiliser ou représenter sans l’accord exprès de DRONEEZ, qui en détient la propriété, les Sites et leur contenu ;</li>
				<li>ne pas télécharger, afficher ou transmettre, via les Sites, tout matériel :</li>
			</ul>
			<ul>
				<li>de nature à restreindre ou interrompre l’accès d’un autre Internaute aux Sites ;</li>
				<li>frauduleux, illégal, préjudiciable, menaçant, abusif, diffamatoire, obscène, incitant à la haine ou portant atteinte à la vie privée ;</li>
				<li>constituant ou encourageant une conduite susceptible de violation des lois ;</li>
				<li>violant ou portant atteinte aux droits d’un tiers ;</li>
				<li>contenant un virus ou un logiciel malveillant, permettant notamment de collecter ou d’extraire des données de manière automatique ;</li>
				<li>constituant un contenu promotionnel ou publicitaire non sollicité ou non autorisé tel, mais sans s’y limiter, un spam, une chaîne de courriels, etc.</li>
			</ul>
			<p>Il est expressément rappelé que les mineurs ne sont pas autorisés à utiliser les Sites sans l’accord préalable des parents ou de leurs représentants légaux. DRONEEZ ne saurait être responsable de l’utilisation des Sites par des mineurs ayant notamment conduit à la collecte de leurs données personnelles. Dans l’hypothèse de l’abonnement à la newsletter ou de la création d’un compte client sur le Site par un mineur sans l’accord préalable des parents, ceux-ci sont invités à prendre contact avec DRONEEZ aux fins d’annuler l’abonnement à la Newsletter et/ou la création du compte client.</p>
		</li>

		<li>
			<h4>PROPRIETE INTELLECTUELLE</h4>
			<p>L’ensemble du contenu des Sites est protégé par la législation applicable en matière de droit d’auteur, de droit des dessins et modèles, de droit des marques et de concurrence déloyale et parasitisme.</p>
			<p>DRONEEZ est et demeure seul et unique titulaire des droits d’exploitation portant sur les éléments de propriété intellectuelle des Sites.</p>
			<p>L’Internaute n’est pas autorisé à reproduire, exploiter, rediffuser ou utiliser à quelque titre que ce soit, même partiellement, des éléments des Sites.</p>
			<p>Les marques, logos ou graphiques des fournisseurs auxquels DRONEEZ a recours pour l’exploitation des Sites demeurent la propriété de leurs titulaires respectifs, ces derniers ne concédant à l’Internaute aucune licence ni droit.</p>
			<p>En application de l’article L.122-4 du Code de la propriété intellectuelle, toute représentation ou toute reproduction non expressément autorisée, ou à un usage autre que strictement privé, par quelque moyen que ce soit constitue un acte de contrefaçon sanctionné par la loi.</p>
		</li>

		<li>
			<h4>ACCES AUX SITES</h4>
			<p>Les Sites sont accessibles par le biais du réseau Internet. L’Internaute reconnaît que des aléas techniques indépendants de la volonté de DRONEEZ peuvent affecter le réseau Internet et entraîner l’indisponibilité ou le ralentissement du fonctionnement des Sites. La responsabilité de DRONEEZ ne saurait en aucun cas être engagée à ce titre.</p>
			<p>L’accès aux Sites est gratuit. Toutefois, le prix de la connexion à Internet est à la charge de l’Internaute. Il appartient à l’Internaute de s’assurer qu’il dispose d’une protection adéquate contre les virus informatiques.</p>
			<p>L’Internaute reconnaît que DRONEEZ ne saurait être responsable de l’intrusion par des tiers dans son système informatique et/ou de l’interception par des tiers des transmissions de données effectuées à l’occasion de l’utilisation par l’Internaute des Sites.</p>
		</li>

		<li>
			<h4>HYPERLIENS</h4>
			<p>L’Internaute reconnait ne pas être autorisé à créer et/ou maintenir un lien vers les Sites sans l’accord préalable de DRONEEZ.</p>
			<p>Les Sites peuvent être accessibles depuis d’autres sites internet, ou contenir des liens hypertextes menant vers d’autres sites internet, notamment vers les réseaux sociaux, sans que DRONEEZ ne puisse être tenu responsable du contenu de ces derniers.</p>
		</li>

		<li>
			<h4>COOKIES</h4>
			<p>Un cookie est un fichier informatique, stocké sur le disque dur de l’ordinateur de l’Internaute et qui permet de signaler qu’il a visité le Site Internet.</p>
			<p>DRONEEZ n’utilise pas de cookies de session permettant de mémoriser le passage de l’Internaute sur les Sites. En revanche, DRONEEZ a recours aux deux types de cookies suivants:</p>
			<ul>
				<li>Les cookies « tiers » sont des cookies présents sur les Sites et utilisés par des tiers.</li>
				<li>Les cookies « analytiques » permettent à DRONEEZ d’identifier le comportement de l’Internaute sur les Sites (en analysant notamment les pages du Site les plus visitées ou encore le taux de rebond).</li>
			</ul>
			<p>L’utilisation de cookies est subordonnée au recueil par DRONEEZ de l’accord préalable de l’Internaute. L’Internaute peut refuser le dépôt des cookies sur son terminal. Pour s’opposer au dépôt de cookies tiers, l’Internaute doit modifier les paramètres de son navigateur. Ci-dessous les liens détaillant les procédures de certains navigateurs :</p>

			<ul>
				<li>
					<h6>Internet Explorer :</h6>
					<p><a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></p>
				</li>
				<li>
					<h6>Safari :</h6>
					<p><a href="https://support.apple.com/kb/PH17191?viewlocale=fr_FR&amp;locale=en_US">https://support.apple.com/kb/PH17191?viewlocale=fr_FR&amp;locale=en_US</a></p>
				</li>
				<li>
					<h6>Chrome :</h6>
					<p><a href="https://support.google.com/chrome/answer/95647?hl=fr&amp;hlrm=en">https://support.google.com/chrome/answer/95647?hl=fr&amp;hlrm=en</a></p>
				</li>
				<li>
					<h6>Firefox :</h6>
					<p><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&amp;redirectslug=Activer+et+désactiver+les+cookies">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&amp;redirectslug=Activer+et+désactiver+les+cookies</a></p>
				</li>
			</ul>
			<p>En tout état de cause, les cookies sont conservés pendant une durée maximale de 13 mois suivant la date à laquelle l’Internaute a consenti au dépôt par DRONEEZ de cookies sur son terminal. Passé ce délai, DRONEEZ devra à nouveau recueillir le consentement de l’Internaute.</p>
		</li>

		<li>
			<h4>PROTECTION DES DONNEES A CARACTERE PERSONNELLES</h4>
			<ol>
				<li>
					<h5>Collecte de données à caractère personnel</h5>
					<p>DRONEEZ collecte des informations (<strong>« Données Personnelles »)</strong> concernant l’Internaute telles que les nom, prénom, adresse email, numéro de téléphone.</p>
					<p>Les Données Personnelles sont collectées lors de l’inscription de l’Internaute à la newsletter, lors de sa demande de renseignement pour les services décrits à l’article 2.2 des présentes ou lors de la création par l’Internaute d’un compte client, à des fins de gestion administrative et commerciale. Les Données Personnelles dont le recueil n’est pas obligatoire sont indiquées par la mention « optionnel » à côté du champ correspondant. Dans l’hypothèse où l’Internaute refuserait de communiquer à DRONEEZ des Données Personnelles dont le recueil est obligatoire, DRONEEZ ne pourra pas fournir à l’Internaute le service concerné.</p>
					<p>La gestion commerciale inclut, avec l’autorisation préalable de l’Internaute, l’envoi d’informations et d’offres promotionnelles à des fins marketing. L’Internaute peut s’opposer à l’utilisation à des fins marketing de ses données à tout moment, notamment en suivant les modalités définies à l’Article 8.5 des présentes.</p>
				</li>
				<li>
					<h5>Destinataire des Données Personnelles</h5>
					<p>Le destinataire des Données Personnelles est DRONEEZ.</p>
				</li>
				<li>
					<h5>Conservation des Données Personnelles</h5>
					<p>Les Données Personnelles sont conservées pendant une durée ne pouvant excéder la durée strictement nécessaire à la gestion de la relation commerciale.</p>
				</li>
				<li>
					<h5>Sécurité et confidentialité</h5>
					<p>Les Données Personnelles sont strictement confidentielles. Elles ne peuvent être communiquées à des tiers.</p>
					<p>DRONEEZ, en sa qualité de responsable de traitement, prend toutes précautions utiles pour préserver la sécurité des Données Personnelles et, notamment, empêcher qu’elles soient déformées ou endommagées ou que des tiers non autorisés y aient accès.</p>
				</li>
				<li>
					<h5>Droit d’accès, d’opposition, de rectification et de suppression des Données Personnelles</h5>
					<p>Conformément à  la loi °78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, l’Internaute dispose d’un droit d’accès, d’opposition, de rectification et de suppression de ses Données.</p>
					<p>Ces droits peuvent être exercés à tout moment en contactant DRONEEZ :</p>
					<ul>
						<li>
							<p>Par email à l’adresse suivante : <a href="mailto:cnil@jennyfer.com">contact@droneez</a>.com</p>
						</li>
						<li>
							<p>Par courrier à l’adresse suivante : 17 rue Hoche 92250 Malakoff.</p>
						</li>
					</ul>
					<p>Le cas échéant, la suppression ou la rectification des Données Personnelles interviendra dans les meilleurs délais.</p>
				</li>
				<li>
					<h5>Sort des Données Personnelles post-mortem</h5>
					<p>Conformément à l’article 40-1-II de la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, dite loi « informatique et libertés », l’Internaute peut transmettre à DRONEEZ des directives relatives à la conservation, à l’effacement et à la communication de ses données à caractère personnel après son décès.</p>
				</li>
				<li>
					<h5>Liste Bloctel</h5>
					<p>Conformément à L.223-1 du code de la consommation, l’Internaute dispose du droit de s’inscrire sur la liste d’opposition au démarchage téléphonique auprès de Bloctel http://www.bloctel.gouv.fr/.</p>
				</li>
			</ol>
		</li>
	</ol>
</div>
